<center>
<table style="width:90%">
	<tr>
		<th>	
			<a href="/Webpage-Lsn/view/cv/sparetime/work.html">
				<div class="tableHeader">
					Arbejde
				</div>
			</a>
		</th>
		<th>	
			<div class="tableHeader">
				Fritid
			</div>
		</th>
	</tr>
	<tr>
		<td>
			<div class="duringTimeCv" style="text-indent: 130px;">
				Piipl, 2017-2018
				<li class="bulletTxt">
					It-udvikler, 2017-2018
				</li>
				<li class="bulletTxt">
					link
				</li>
			</div>
		</td>
		<td>
			<div class="duringTimeCv" style="text-indent: 30px;">		
				<a href="/Webpage-Lsn/view/cv/other/math.html" style="color: black;">
					Introduction to Mathematical thinking
				</a>
				<li class="bulletTxt">
					Link
				</li>
			</div>
		</td>
	</tr>
	<tr>
		<td>
			<div class="duringTimeCv" style="text-indent: 130px;">
				Bizsys
				<li class="bulletTxt">
					It-udvikler, 2019-2020
				</li>
				<li class="bulletTxt">
					Link
				</li>
			</div>
		</td>
		<td>
			<div class="duringTimeCv" style="text-indent: 100px;">
				<a href="/Webpage-Lsn/view/cv/other/argue.html" style="color: black;">
					How to reason and argue
				</a>
				<li class="bulletTxt">
					www.coursera.org
				</li>
			</div>
		</td>
	</tr>
	<tr>
		<td>
			<div class="duringTimeCv" style="text-indent: 130px;">
				Lokal fiskefabrik
				<li class="bulletTxt">
					Jeka Fish
				</li>
				<li class="bulletTxt">
					Produktions arbejde
				</li>
				<li class="bulletTxt">
					Kontor arbejde
				</li>
			</div>
		</td>
		<td>
			<div class="duringTimeCv" style="text-indent: 130px;">
				Crossfit
				<li class="bulletTxt">
					Gennem min studietid på universitet
				</li>
				<li class="bulletTxt">
					Aarhus Crossfit
				</li>
				<li class="bulletTxt">
					Copenhagne Crossfit
				</li>
			</div>
		</td>
	</tr>
	<tr>
		<td>
			<div class="duringTimeCv" style="text-indent: 130px;">
				Avisbud
				<li class="bulletTxt">
					Lokale avis
				</li>
				<li class="bulletTxt">
					Jyllands posten
				</li>
			</div>
		</td>
		<td>
			<div class="duringTimeCv" style="text-indent: 130px;">
				Løb
				<li class="bulletTxt">
					Gennem hele min tilværelse
				</li>
				<li class="bulletTxt">
					Lemvig Byløb
				</li>
			</div>
		</td>
	</tr>
	<tr>
		<td>
			<div class="duringTimeCv" style="text-indent: 130px;">
				Svømning
				<li class="bulletTxt">
					Lemvig Svømmeklub
				</li>
				<li class="bulletTxt">
					Instruktør i et år
				</li>
			</div>
		</td>
		<td>
			<div class="duringTimeCv" style="text-indent: 130px;">
				Spejder
				<li class="bulletTxt">
					DDS
				</li>
				<li class="bulletTxt">
					Thøger Larsen Gruppen Lemvig
				</li>
			</div>
		</td>
	</tr>
		<td>
			
		</td>
		<td>
			<div class="duringTimeCv" style="text-indent: 130px;">
				Basket
				<li class="bulletTxt">
					Lemvig Basket
				</li>
				<li class="bulletTxt">
					Limfjords Cup
				</li>
			</div>
		</td>
	</tr>
</table>

</center>

<style>
	.duringTimeCv{
		width: 400px;
		margin-bottom: 10px;
		height: 80px;
		margin-left: 260px;
		font-size: 21px;
		font-weight: bold;
		background-color: #993399;
		border-radius: 20px 20px 20px 20px;
	}
	.bulletTxt {
		text-indent: 20px;
		font-size: 15px;
		color: black;
		text-decoration: none; 
		background-color: none;
	}
	
	.tableHeader {
		font-size: 35px;
	}

</style>

	