<center>
<table style="width:100%">
	<tr>
		<th>	
			<a href="/Webpage-Lsn/view/cv/sparetime/work.html">
				<div class="tableHeader">
					Arbejde
				</div>
			</a>
		</th>
		<th>	
			<div class="tableHeader">
				Fritid
			</div>
		</th>
	</tr>
	<tr>
		<td>
			<div class="duringTime" style="text-indent: 130px;">
				Piipl, 2017-2018
			</div>
		</td>
		<td>
			<div class="duringTime" style="text-indent: 30px;">		
				<a href="/Webpage-Lsn/view/cv/other/math.html" style="color: black;">
					Introduction to Mathematical thinking
				</a>
			</div>
		</td>
	</tr>
	<tr>
		<td>
			<div class="duringTime" style="text-indent: 130px;">
				Bizsys, 2019-2020
			</div>
		</td>
		<td>
			<div class="duringTime" style="text-indent: 100px;">
				<a href="/Webpage-Lsn/view/cv/other/argue.html" style="color: black;">
					How to reason and argue
				</a>
			</div>
		</td>
	</tr>
	<tr>
		<td>
			<div class="duringTime" style="text-indent: 130px;">
				Lokal fiskefabrik
			</div>
		</td>
		<td>
			<div class="duringTime" style="text-indent: 130px;">
				Crossfit
			</div>
		</td>
	</tr>
	<tr>
		<td>
			<div class="duringTime" style="text-indent: 130px;">
				Avisbud
			</div>
		</td>
		<td>
			<div class="duringTime" style="text-indent: 130px;">
				Løb
			</div>
		</td>
	</tr>
	<tr>
		<td>
			<div class="duringTime" style="text-indent: 130px;">
				Svømning
			</div>
		</td>
		<td>
			<div class="duringTime" style="text-indent: 130px;">
				Spejder
			</div>
		</td>
	</tr>
		<td>
			
		</td>
		<td>
			<div class="duringTime" style="text-indent: 130px;">
				Basket
				<li class="bulletTxt">
					Lemvig Basket
				</li>
			</div>
		</td>
	</tr>
</table>

</center>

<style>
	.duringTime{
		width: 400px;
		margin-bottom: 10px;
		height: 60px;
		border-radius: 25px;
		margin-left: 260px;
		font-size: 21px;
		font-weight: bold;
	}
	.bulletTxt {
		text-indent: 20px;
	}
	
	.tableHeader {
		font-size: 35px;
	}

</style>

	