<center>
	<div class="tableCell duringTime">
		<a href="/Webpage-Lsn/view/cv/sparetime/work.html">
			<div class="tableHeader">
				Arbejde
			</div>
			<li class="bulletTxt">Piipl, 2017-2018</li>
			<li class="bulletTxt">Bizsys, 2019-2020</li>
		</a>
	</div>
	<div class="tableCell duringTime">	
		Coursera.org
		<li class="bulletTxt">
			<a href="/Webpage-Lsn/view/cv/coursera/math.html" style="color: black;">
				Introduction to Mathematical thinking
			</a>
		</li>
		<li class="bulletTxt">
			<a href="/Webpage-Lsn/view/cv/coursera/argue.html" style="color: black;">
				How to reason and argue
			</a>
		</li>
	</div>
	<div class="tableCell duringTime">
		Crossfit
		<li class="bulletTxt">Aarhus crossfit, Copenhagen crossfit</li>
		<li class="bulletTxt">Gennem min studietid på universitetet</li>
	</div>
	<div class="tableCell duringTime">
		Lokal fiskefabrik
		<li class="bulletTxt">Jeka Fish</li>
		<li class="bulletTxt">Kontor arbejde og produktion</li>
	</div>
	<div class="tableCell duringTime">
		Løb
		<li class="bulletTxt">Har dyrket løb gennem hele min tilværelse</li>
	</div>
	<div class="tableCell duringTime">
		Svømning
		<li class="bulletTxt">Lemvig svømmeklub</li>
		<li class="bulletTxt">Dyrkede det i to år</li>
		<li class="bulletTxt">Var instruktør i et år</li>
	</div>

	<div class="tableCell duringTime">
		Spejder, basketball
		<li class="bulletTxt">Gennem folkeskolen og gymnasiet</li>
	</div>
	<div class="tableCell duringTime">
		Avisbud
		<li class="bulletTxt">Lokale avis</li>
		<li class="bulletTxt">Jyllandsposten</li>
	</div>
</center>

<style>
	.duringTime{
		width: 400px;
		margin-bottom: 10px;
	}

</style>

	