	<!DOCTYPE html>
<html id="flexyderPage">
	<head>
		<title>
			Flexyder
		</title>
		<link rel="stylesheet" href="/Webpage-Lsn/view/cv/other/style.css" type="text/css">
	</head>
	<body>
    <div class="about-section">
		<h1 class="header">
			Jeg er desv&#230;rre blevet flexyder, fordi jeg slog hovedet som otte-&#229;rig i en trafik ulykke
		</h1>
	</div>
	<div class="container" style="margin-left: 200px; margin-top: 10px;">
		<img src="/Webpage-Lsn/view/cv/other/ar.jpg" width="500" height="333">
		<div class="explanation" style="position: absolute; top: 120px; left: 730px; right: 600px;">
			Har tilf&#248;jet et billede, hvor man kan se det ar jeg fik efter den ulykke: <br> <br>
			Det har desv&#230;rre haft den konsekvens, at jeg har sv&#230;rere ved at koncentere mig. 
			Hvis jeg m&#248;der en opgave, jeg ikke har set f&#248;r, skal jeg have god tid, til at komme ind i den og forst&#229; den.
			Men f&#229;r jeg den lange tid, har jeg til geng&#230;ld muligheden for at kunne blive rigtig god indenfor 
			lige netop det jeg arbejder med. <br> <br> 
			Billedet er taget hvor jeg bliver klippet i milit&#230;ret, hvorfor jeg smiler.
			<form action="/../Webpage-Lsn/setup.php" method="post">
				<button type="submit" name="cvButton" value="cvPage" id="backButton"> 
					Tilbage til CV
				</button>
			</form>
		</div>
	</div>
  </body>
</html>

