<!DOCTYPE html>
<html id="flexyderPage">
	<head>
		<title>
			Musik - saxofon
		</title>
		<link rel="stylesheet" href="/Webpage-Lsn/view/cv/other/style.css" type="text/css">
	</head>
	<body>
    <div class="about-section">
		<h1 class="header">
			Jeg har spillet saxofon, siden jeg var 10 &#229;r gammel
		</h1>
	</div>
	<div class="container" style="margin-left: 200px; margin-top: 10px;">
		<img src="/Webpage-Lsn/view/cv/other/sax.jpg" width="500" height="333">
        <div id="imageTxt">
			Her spiller vi en lille koncert p&#229; Aros
        </div>
		<div class="explanation" style="position: absolute; top: 170px; left: 730px; right: 600px;font-size:18px">
			Jeg startede med at spille alt saxofon. Men da jeg kom til Aarhus og ville spille saxofon,
			fik jeg muligheden for at spille baryton saxofon, som jeg g&#248;r p&#229; billedet. <br>
			Her er link til et tv indslag, hvor vi spiller p&#229; badeanstalten Spanien: 
			<a href="https://www.tv2ostjylland.dk/nyheder/05-11-2017/1930/tidsrejse-i-badeanstalten-spanien?v=1_c8e1lfye&autoplay=1#player" target="_blank">
				Indslag
			</a>
		
			<form action="/../Webpage-Lsn/setup.php" method="post">
				<button type="submit" name="cvButton" value="cvPage" id="backButton"> 
					Tilbage til CV
				</button>
			</form>
		</div>
	</div>
  </body>
</html>

