<!DOCTYPE html>
<html id="flexyderPage">
	<head>
		<title>
			Musik - saxofon
		</title>
		<link rel="stylesheet" href="/Webpage-Lsn/view/cv/other/style.css" type="text/css">
	</head>
	<body>
    <div class="about-section">
		<h1 style="text-align: center; padding: 10px;">
			Jeg har spillet saxofon, siden jeg var 10 år gammel
		</h1>
	</div>
	<div class="container" style="margin-left: 200px; margin-top: 10px;">
		<img src="/Webpage-Lsn/view/cv/other/work.jpg" width="500" height="333">
		<div class="explanation" style="position: absolute; top: 120px; left: 730px; right: 600px;">
			Jeg arbejdede for Piipl fra 2017-2018
		
		
			<form action="/../Webpage-Lsn/setup.php" method="post">
				<button type="submit" name="cvButton" value="cvPage" id="flexyderButton"> 
					Tilbage til CV
				</button>
			</form>
		</div>
	</div>
  </body>
</html>

