<style>

	.explanation {
		font-family: 'Raleway',sans-serif; 
		font-size: 18px; 
		font-weight: 500; 
		line-height: 32px; 
		margin: 0 0 24px; 	
	}
	#flexyderPage {
		background-color: #ffd699;
	}
	.about-section {
		height: 90px;
		background-color: #8cff66;
      border-radius: 10% / 100%;
	}
	.description {
		margin-top: 10px;
		font-size: 20px;
	}
	#backButton:hover {
		background-color: #3e8e41
	}
	#backButton:active {
		background-color: #3e8e41;
		box-shadow: 0 5px #666;
		transform: translateY(4px);
	}
	#backButton {
		margin-top: 40px;
		margin-left: 60px;
		display: inline-block;
		padding: 20px 25px;
		font-size: 24px;
		font-family: Courier New;
		cursor: pointer;
		text-align: center;
		text-decoration: none;
		outline: none;
		color: #fff;
		background-color: #4CAF50;
		border: none;
		border-radius: 15px;
		box-shadow: 0 9px #999;
	}
	#imageTxt {
		margin-left: 120px;
		font-style: italic;
	}
	.header {
		text-align: center; 
		padding: 10px;
	}
	
</style>
