<!DOCTYPE html>
<html id="flexyderPage">
	<head>
		<title>
			V&#230;gtl&#248;ftning
		</title>
		<link rel="stylesheet" href="/Webpage-Lsn/view/cv/other/style.css" type="text/css">
	</head>
	<body>
    <div class="about-section">
		<h1 style="text-align: center; padding: 10px;">
			Jeg begyndte at dyrke v&#230;gtl&#248;ftning da jeg var f&#230;rdig med at studere
		</h1>
	</div>
	<div class="container" style="margin-left: 200px; margin-top: 10px;">
		<video width="500" height="300" controls>
			<source src="/Webpage-Lsn/view/cv/other/snatch.mp4" type="video/mp4">
			Your browser does not support the video tag.
		</video>
        <div id="imageTxt">
			Her er et tr&#230;k fra et st&#230;vne d. 19 august 2019
        </div>
		<div class="explanation" style="position: absolute; top: 170px; left: 730px; right: 600px;font-size:18px">
			Som beskrevet tidligere har jeg v&#230;re til to st&#230;vner gennem tiden. Jeg fik en bronzemedalje ved 
			det st&#230;vne, som videoen er fra.
			<form action="/../Webpage-Lsn/setup.php" method="post">
				<button type="submit" name="cvButton" value="cvPage" id="flexyderButton"> 
					Tilbage til CV
				</button>
			</form>
		</div>
	</div>
  </body>
</html>

