<center style="position: relative; top: 10px;">
	<h2>
		<div style="position: relative; right: 765px; bottom: 10px;">
			Bruger input
		</div>
		<div style="position: relative; right: 520px; bottom: 35px;">
			Simple beregninger
		</div>
		<div style="position: relative; left: 170px; bottom: 60px;">
			Avancerede beregninger
		</div>
	</h2>
	<div style="position: relative; bottom: 60px;">
		<div class="dropdown" style="position: relative; right: 120px;">
			<button class="dropbtn"> Indtastet værdier</button>
			<div class="dropdown-content" style="width: 155px;">
				<a class="numberOfKm">Kilometer</a>
				<a class="numberOfLiter">Liter</a>
				<a class="numberOfKr">Kroner</a>
			</div>
		</div>
		
		<div class="dropdown" style="position: relative; right: 50px;">
			<button class="dropbtn"> Beregnede værdier</button>
			<div class="dropdown-content">
				<a class="krPerLiter">Kroner per liter</a>
				<a class="kmPerLiter">Kilometer per liter</a>
				<a class="kmPerKr">Kilometer per kroner</a>
				<a class="literPerKm">Liter per kilometer</a>
				<a class="literPerKr">Liter per kroner</a>
				<a class="krPerkm">Kroner per kilometer</a>
			</div>
		</div>
		
		<div class="dropdown" style="position: relative; left: 50px;">
			<button class="dropbtn advancedDropdown"> Kilometer </button>
			<div class="dropdown-content">
				<a class="kmMedian">Median</a>
				<a class="kmVar">Varians</a>
				<a class="kmStDev">St. dev</a>
				<a class="kmAverage">Gennemsnit</a>
			</div>
		</div>
		
		<div class="dropdown" style="position: relative; left: 50px;">
			<button class="dropbtn advancedDropdown"> Liter </button>
			<div class="dropdown-content">
				<a class="literMedian">Median</a>
				<a class="literVar">Varians</a>
				<a class="literStDev">St. dev</a>
				<a class="literAverage">Gennemsnit</a>
			</div>
		</div>
		
		<div class="dropdown" style="position: relative; left: 50px;">
			<button class="dropbtn advancedDropdown"> Kroner </button>
			<div class="dropdown-content">
				<a class="kronerMedian">Median</a>
				<a class="kronerVar">Varians</a>
				<a class="kronerStDev">St. dev</a>
				<a class="kronerAverage">Gennemsnit</a>
			</div>
		</div>
		
		<div class="dropdown" style="position: relative; left: 50px;">
			<button class="dropbtn advancedDropdown"> Kr/l </button>
			<div class="dropdown-content">
				<a class="kronerPerLiterMedian">Median</a>
				<a class="kronerPerLiterVar">Varians</a>
				<a class="kronerPerLiterStDev">St. dev</a>
				<a class="kronerPerLiterAverage">Gennemsnit</a>
			</div>
		</div>
		
		<div class="dropdown" style="position: relative; left: 50px;">
			<button class="dropbtn advancedDropdown"> Km/l </button>
			<div class="dropdown-content">
				<a class="kmPerLiterMedian">Median</a>
				<a class="kmPerLiterVar">Varians</a>
				<a class="kmPerLiterStDev">St. dev</a>
				<a class="kmPerLiterAverage">Gennemsnit</a>
			</div>
		</div>
		
		<div class="dropdown" style="position: relative; left: 50px;">
			<button class="dropbtn advancedDropdown"> Km/kr </button>
			<div class="dropdown-content">
				<a class="kmPerKronerMedian">Median</a>
				<a class="kmPerKronerVar">Varians</a>
				<a class="kmPerKronerStDev">St. dev</a>
				<a class="kmPerKronerAverage">Gennemsnit</a>
			</div>
		</div>
		
		<div class="dropdown" style="position: relative; left: 50px;">
			<button class="dropbtn advancedDropdown"> Kr/km </button>
			<div class="dropdown-content">
				<a class="kronerPerKmMedian">Median</a>
				<a class="kronerPerKmVar">Varians</a>
				<a class="kronerPerKmStDev">St. dev</a>
				<a class="kronerPerKmAverage">Gennemsnit</a>
			</div>
		</div>
		
		<div class="dropdown" style="position: relative; left: 50px;">
			<button class="dropbtn advancedDropdown"> L/km </button>
			<div class="dropdown-content">
				<a class="literPerKmMedian">Median</a>
				<a class="literPerKmVar">Varians</a>
				<a class="literPerKmStDev">St. dev</a>
				<a class="literPerKmAverage">Gennemsnit</a>
			</div>
		</div>
		
		<div class="dropdown" style="position: relative; left: 50px;">
			<button class="dropbtn advancedDropdown"> L/kr </button>
			<div class="dropdown-content">
				<a class="literPerKrMedian">Median</a>
				<a class="literPerKrVar">Varians</a>
				<a class="literPerKrStDev">St. dev</a>
				<a class="literPerKrAverage">Gennemsnit</a>
			</div>
		</div>
	</div>	
</center>


		