
	#basicHeaderInfo {
		margin-top:30px; 
	}
	#profilePic {
		width: 200px; 
		height: 200px; 
		margin-bottom: -50px;
		margin-right: 20px;
	}
	.attribute {
		font-size: 35px;
		font-weight: bold;
		margin-bottom: 10px;
		margin-left: 40px;
	}
	.columnTxt {
		display: inline-block;
		padding: 10px;
		width:500px; 
		margin-bottom: -10px;
	}
	.firstColumn {
		background-color: #8080ff;
		margin-right:10px; 
		border-radius: 20px 0px 0px 20px;
		width: 602px;
	}
	.secondColumn {
		background-color: #99ff99;
		margin-left:-18.5px;
	}
	.thirdColumn {
		background-color: #ff8080;
		margin-left:-9px;	
		width: 300px;
		border-radius: 0px 20px 20px 0px;
	}
	.attributeText {
		font-style: oblique;
		font-size: 30px;
		font-weight: 200;
	}

	#bodyTable {
		width: 500px;
		margin-left: 100px;
	}
	#bodyTableHeaders {
		font-size: 50px;
	}
	.bodyTableInfo {
		font-size: 30px;
		font-weight: 800;
	}
	#firstBodyTableInfoRowId {
		background-color: #ffff66;
	}
	#secondBodyTableInfoRowId {
		background-color: #ff00ff;;
	}
	#thirdBodyTableInfoRowId {
		background-color: #9999ff;
	}
	#fourthBodyTableInfoRowId {
		background-color: #ff9900;
	}
	#fithBodyTableInfoRowId {
		background-color: #993399;
	}
	#sixthBodyTableInfoRowId {
		background-color: #0066cc;
	}
	.emptyTableCell {
		 background-color: grey;
	}
	.tableCell {
		border-radius: 20px 20px 20px 20px;
	}
	.tableHeader {
		font-size: 30px;
		color: black;
		text-decoration: none; 
		background-color: none;		
	}
	a:link {
		text-decoration: none;
		background-color: none;		
	}
	a:visited {
		text-decoration: none;
		background-color: none;
	}
	.bulletTxt {
		font-size: 15px;
		color: black;
		text-decoration: none; 
		background-color: none;
	}
	#backToStartButton {
		padding: 20;
		margin-bottom: 30px;
		border-radius: 20px;
		width: 100%;
		background-color: #ff944d;
		font-size: 20px;
		border: solid #8cff1a;
		border-width: 1px 1px 1px 1px;
		font-family: Georgia, serif;
	}










