.kilometerPerKronerValues {
	position: relative;
	left: 20px;
}

.headerKilometerPerKronerField {
	font-weight: bold;
	font-size: 20px;
	position: absolute;
	display: none;
}

.stdevKilometerPerKronerField {
	position: absolute;
	border: solid;
	border-color: #00804d;
	border-radius: 25px;
	background-color: #66ffc2;
	display: none;
	margin: 30px 0px 0px 10px;
	width: 315px;
	height: 30px;
}

.stdevKilometerPerKronerCross {
	position: relative;
	left: 135px;
	bottom: 20px;
	cursor: pointer;
	width: 10px;
}

.stdevKilometerPerKronerTxt {
    margin-top: 5px;
    margin-left: -15px;
}

.varKilometerPerKronerField {
	position: absolute;
	border: solid;
	border-color: #00804d;
	border-radius: 25px;
	background-color: #66ffc2;
	display: none;
	margin: 30px 0px 0px 10px;
	width: 260px;
	height: 30px;
}

.varKilometerPerKronerCross {
	position: relative;
	left: 100px;
	bottom: 20px;
	cursor: pointer;
	width: 10px;
}

.varKilometerPerKronerTxt {
    margin-top: 5px;
    margin-left: -15px;
}


.medianKilometerPerKronerField {
	position: absolute;
	border: solid;
	border-color: #00804d;
	border-radius: 25px;
	background-color: #66ffc2;
	display: none;
	margin: 30px 0px 0px 10px;
	width: 260px;
	height: 30px;
}

.medianKilometerPerKronerCross {
	position: relative;
	left: 100px;
	bottom: 20px;
	cursor: pointer;
	width: 10px;
}

.medianKilometerPerKronerTxt {
    margin-top: 5px;
    margin-left: -15px;
}

.averageKilometerPerKronerField {
	position: absolute;
	border: solid;
	border-color: #00804d;
	border-radius: 25px;
	background-color: #66ffc2;
	display: none;
	margin: 30px 0px 0px 10px;
	width: 300px;
	height: 30px;
}

.averageKilometerPerKronerCross {
	position: relative;
	left: 120px;
	bottom: 20px;
	cursor: pointer;
	width: 10px;
}

.averageKilometerPerKronerTxt {
    margin-top: 5px;
    margin-left: -15px;
}
