.headerKilometerPerLiterField {
	font-weight: bold;
	font-size: 20px;
	position: absolute;
	display: none;
}

.stdevKilometerPerLiterField {
	position: absolute;
	border: solid;
	border-color: #00804d;
	border-radius: 25px;
	background-color: #66ffc2;
	display: none;
	margin: 30px 0px 0px 10px;
	width: 315px;
	height: 30px;
}

.stdevKilometerPerLiterCross {
	position: relative;
	left: 135px;
	bottom: 20px;
	cursor: pointer;
	width: 10px;
}

.stdevKilometerPerLiterTxt {
    margin-top: 5px;
    margin-left: -15px;
}

.varKilometerPerLiterField {
	position: absolute;
	border: solid;
	border-color: #00804d;
	border-radius: 25px;
	background-color: #66ffc2;
	display: none;
	margin: 30px 0px 0px 10px;
	width: 260px;
	height: 30px;
}

.varKilometerPerLiterCross {
	position: relative;
	left: 100px;
	bottom: 20px;
	cursor: pointer;
	width: 10px;
}

.varKilometerPerLiterTxt {
    margin-top: 5px;
    margin-left: -15px;
}


.medianKilometerPerLiterField {
	position: absolute;
	border: solid;
	border-color: #00804d;
	border-radius: 25px;
	background-color: #66ffc2;
	display: none;
	margin: 30px 0px 0px 10px;
	width: 260px;
	height: 30px;
}

.medianKilometerPerLiterCross {
	position: relative;
	left: 100px;
	bottom: 20px;
	cursor: pointer;
	width: 10px;
}

.medianKilometerPerLiterTxt {
    margin-top: 5px;
    margin-left: -15px;
}

.averageKilometerPerLiterField {
	position: absolute;
	border: solid;
	border-color: #00804d;
	border-radius: 25px;
	background-color: #66ffc2;
	display: none;
	margin: 30px 0px 0px 10px;
	width: 300px;
	height: 30px;
}

.averageKilometerPerLiterCross {
	position: relative;
	left: 120px;
	bottom: 20px;
	cursor: pointer;
	width: 10px;
}

.averageKilometerPerLiterTxt {
    margin-top: 5px;
    margin-left: -15px;
}
