.userInputValues {
	position: relative;
	left: 20px;
}

.userInputField {
	font-weight: bold;
	font-size: 20px;
	position: absolute;
	display: none;
}

.userInputKmField {
	position: absolute;
	border: solid;
	border-color: #00804d;
	border-radius: 25px;
	background-color: #66ffc2;
	display: none;
	margin: 30px 0px 0px 10px;
	width: 260px;
	height: 30px;
}

.userInputKmCross {
	position: relative;
	left: 100px;
	bottom: 20px;
	cursor: pointer;
	width: 10px;
}

.userInputKmTxt {
    margin-top: 5px;
    margin-left: -15px;
}


.userInputLiterField {
	position: absolute;
	border: solid;
	border-color: #00804d;
	border-radius: 25px;
	background-color: #66ffc2;
	display: none;
	margin: 30px 0px 0px 10px;
	width: 260px;
	height: 30px;
}

.userInputLiterCross {
	position: relative;
	left: 100px;
	bottom: 20px;
	cursor: pointer;
	width: 10px;
}

.userInputLiterTxt {
    margin-top: 5px;
    margin-left: -15px;
}

.userInputKronerField {
	position: absolute;
	border: solid;
	border-color: #00804d;
	border-radius: 25px;
	background-color: #66ffc2;
	display: none;
	margin: 30px 0px 0px 10px;
	width: 300px;
	height: 30px;
}

.userInputKronerCross {
	position: relative;
	left: 120px;
	bottom: 20px;
	cursor: pointer;
	width: 10px;
}

.userInputKronerTxt {
    margin-top: 5px;
    margin-left: -15px;
}
