	<tr class="bodyTableInfo
		<td class="tableCell education">
			<div class="tableHeader">
				Kandidat datalogi
			</div>
			<li class="bulletTxt">Aarhus Universitet</li>
			<li class="bulletTxt">2014-2016</li>
		</td>
		<td class="tableCell sparetime" style="padding-bottom: 20px">	
			<div class="tableHeader">
				V&#230;gtl&#248;ftning
			</div>
			<li class="bulletTxt">BDM 2.februar 2019</li>
			<li class="bulletTxt">BDM-Vest 19.august 2019, bronzemedalje</li>
		</td>
		<td class="tableCell qualifications">
			<div class="tableHeader">
				Aalborg Sportsh&#248;jskole
			</div>
			<li class="bulletTxt">2011</li>
			<li class="bulletTxt">Crossfit</li>
		</td>
		<td class="tableCell language">
			Engelsk
				<li class="bulletTxt">Flydende</li>
			</td>
		<td class="tableCell duringTime">
			<div class="tableHeader">
				Arbejde
			</div>
			<li class="bulletTxt">Piipl, 2017-2018</li>
			<li class="bulletTxt">Bizsys, 2019-2020</li>
		</td>
	</tr>
	
	<tr class="bodyTableInfo">
		<td class="tableCell education">
			<div class="tableHeader">
				Bachelor datalogi
			</div>
			<li class="bulletTxt">Aarhus Universitet</li>
			<li class="bulletTxt">2011-2014</li>
		</td>
		<td class="tableCell sparetime">
			<div class="tableHeader">
				Saxofon
			</div>
			<li class="bulletTxt">Baryton saxofon</li>
			<li class="bulletTxt">Saxofonkvartet, orkester</li>
		</td>
		<td class="tableCell qualifications">
			<div class="tableHeader">
				Den Kongelige Livgarde
			</div>
			<li class="bulletTxt">2010-2011</li>
			<li class="bulletTxt">Tambour - marchtromme</li>
		</td>
		<td class="tableCell language">
			Tysk
			<li class="bulletTxt">Element&#230;rt niveau</li>
		</td>
		<td class="tableCell duringTime">
			Coursera.org
			<li class="bulletTxt">
				Introduction to Mathematical thinking
			</li>
			<li class="bulletTxt">
				How to reason and argue
			</li>
		</td>
	</tr>

	<tr class="bodyTableInfo">
		<td class="tableCell education">
			<div class="tableHeader">
				Lemvig Gymnasium 
			</div>
			<li class="bulletTxt">2007-2010</li>
			<li class="bulletTxt">Musisk student</li>
		</td>
		<td class="tableCell sparetime">
			<div class="tableHeader">
				Programmering
			</div>
			<li class="bulletTxt">Web programmering</li>
			<li class="bulletTxt">PHP, jquery, javascript, css</li>
			<li class="bulletTxt">Github, Git Desktop</li>
		</td>
		<td class="tableCell qualifications">
			<div class="tableHeader">
				Ven&#248; efterskole
			</div>
			<li class="bulletTxt">2006-2007</li>
			<li class="bulletTxt">Natur og friluftsliv</li>
		</td>
		<td class="tableCell language">
			Fransk
			<li class="bulletTxt">Element&#230;rt niveau</li>
		</td>
		<td class="tableCell duringTime">
			Crossfit
			<li class="bulletTxt">Aarhus crossfit, Copenhagen crossfit</li>
			<li class="bulletTxt">Gennem min studietid p&#229; universitetet</li>
		</td>	
	</tr>
	
	<tr class="bodyTableInfo">
		<td class="tableCell education">
			<div class="tableHeader">
				Lemtorpskolen Lemvig 
			</div>
		</td>
		<td class="tableCell sparetime">
			Computer spil
			<li class="bulletTxt">Blizzard</li>
			<li class="bulletTxt">Overwatch, Heroes of the Storm</li>
		</td>
		<td class="tableCell qualifications">
			<div class="tableHeader">
				Iv&#230;rks&#230;tter kursus
			</div>
			<li class="bulletTxt">2010</li>
			<li class="bulletTxt">Lemvig Gymnasium</li>
		</td>
		<td class="tableCell language">
			Spansk
			<li class="bulletTxt">Element&#230;rt niveau</li>
		</td>
		<td class="tableCell duringTime">
			Lokal fiskefabrik
			<li class="bulletTxt">Jeka Fish</li>
			<li class="bulletTxt">Kontor arbejde og produktion</li>
		</td>
	</tr>
		
		