<table id="bodyTable" cellspacing="30px"> 
	<link rel="stylesheet" href="/Webpage-Lsn/view/cv/css/speechBubble.css" type="text/css">
	<tr>
		<div class="container">
			<th>
				<div class="infobox educationBox">
					<div class="emptyBox"> </div> 
					Her finder du en bedre beskrivelse af min uddannelse. Hvad jeg har fokuseret på osv
				</div>
				<form action="setup.php" method="post">
					<button type="submit" name="cvButton" value="educationCv" class="cvHeadline education" style="color: #ffff66;">
						Uddannelse
					</button>
				</form>
			</th>
		</div>
		<div class="container">
			<th>
				<div class="infobox sparetimeBox">
					<div class="emptyBox"> </div> 
					Her finder du en bedre beskrivelse af hvad jeg laver i min fritid, og hvad jeg ellers bruger min tid på
				</div>
				<form action="setup.php" method="post">
					<button type="submit" name="cvButton" value="sparetimeCv" class="cvHeadline sparetime" style="color: #ff00ff;">
						Fritidsinteresser
					</button>
				</form>
			</th>
		</div>
		<div class="container">
			<th>
				<div class="infobox qualificationsBox">
					<div class="emptyBox"> </div> 
					Her finder du en bedre beskrivelse af hvilke mindre uddannelser og certificeringer jeg har taget gennem tiden
				</div>
				<form action="setup.php" method="post">
					<button type="submit" name="cvButton" value="qualificationCv" class="cvHeadline qualifications" style="color: #9999ff;">
						Kvalifikationer
					</button>
				</form>
			</th>
		</div>
		<div class="container">
			<th>
				<div class="infobox languageBox">
					<div class="emptyBox"> </div> 
					Her er en lille uddybelse af hvor mit niveau ligger, og hvor meget jeg dyrker de forskellige sprog
				</div>
				<form action="setup.php" method="post">
					<button type="submit" name="cvButton" value="languageCv" class="cvHeadline language" style="color: #ff9900;">
						Sprog
					</button>
				</form>
			</th>
		</div>
		<div class="container">
			<th>
				<div class="infobox otherBox">
					<div class="emptyBox"> </div> 
					Klik her, for at se en mere detaljeret beskrivelse af hvad jeg har lavet gennem tiden
				</div>
				<form action="setup.php" method="post">
					<button type="submit" name="cvButton" value="otherCv" class="cvHeadline other" style="color: #993399;">
						<nobr>Gennem tiden</nobr>
					</button>
				</form>
			</th>
		</div>
	</tr>
	
	<div class="cols" align="middle"> </div>
</table>

<script type="text/javascript">
	
	$('.other').mouseenter(function(e) {
		$('.otherBox').show(200);
	});
	$('.other').mouseleave(function(e){
		$('.otherBox').hide(200);
	});
	
	$('.language').mouseenter(function(e) {
		$('.languageBox').show(200);
	});
	$('.language').mouseleave(function(e){
		$('.languageBox').hide(200);
	});
	
	$('.qualifications').mouseenter(function(e) {
		$('.qualificationsBox').show(200);
	});
	$('.qualifications').mouseleave(function(e){
		$('.qualificationsBox').hide(200);
	});
	
	$('.sparetime').mouseenter(function(e) {
		$('.sparetimeBox').show(200);
	});
	$('.sparetime').mouseleave(function(e){
		$('.sparetimeBox').hide(200);
	});
	
	$('.education').mouseenter(function(e) {
		$('.educationBox').show(200);
	});
	$('.education').mouseleave(function(e){
		$('.educationBox').hide(200);
	});
	
	$(function() {
		$(".cols").load("/Webpage-Lsn/view/cv/coloums/cvColOne.html");
	});

</script>



	
	
	