<!DOCTYPE html>
<html id="flexyderPage">
	<head>
		<title>
			Musik - saxofon
		</title>
		<link rel="stylesheet" href="/Webpage-Lsn/view/cv/css/stuff.css" type="text/css">
	</head>
	<body>
    <div class="about-section">
		<h1 class="header">
			Jeg har spillet saxofon, siden jeg var 10 &#229;r gammel
		</h1>
	</div>
	<div class="container" style="margin-left: 200px; margin-top: 10px;">
		<div class="explanation" style="position: absolute; top: 170px; left: 200px; right: 600px;font-size:18px">
			Jeg startede med at spille alt saxofon. Men da jeg kom til Aarhus og ville spille saxofon,
			fik jeg muligheden for at spille baryton saxofon, som jeg g&#248;r p&#229; billedet til venstre.
			Videoen til h&#248;jre viser et tv indslag, hvor vi spiller p&#229; badeanstalten Spanien: 
			

		</div>
		<img src="/Webpage-Lsn/view/cv/img/sax.jpg" width="500" height="333" style="margin-top: 120px; margin-left: 30px;">
		</img>
        <div id="imageTxt">
			Her spiller vi en lille koncert p&#229; Aros
        </div>
		<iframe id="tvPlay" src="https://cdnapisec.kaltura.com/p/2102081/sp/210208100/embedIframeJs/uiconf_id/34716281/partner_id/2102081?iframeembed=true&playerId=kaltura_player&entry_id=1_c8e1lfye&flashvars[streamerType]=auto" width="640" height="360" allowfullscreen webkitallowfullscreen mozAllowFullScreen frameborder="0">
		</iframe>
        <div id="imageTxt" style="margin-left: 750px;">
			Her spiller vi en lille koncert p&#229; badeanstalten Spanien
        </div>
	</div>
	<form action="/Webpage-Lsn/controller/cv.php" method="post">
		<button type="submit" name="cvButton" value="sparetimeCv" id="backButton" class="musicButton"> 
			Tilbage
		</button>
	</form>
  </body>
</html>

<style>

	#backButton{
		margin-top: 100px;
		margin-left: 400px;
	}

	#tvPlay  {
		margin-left: 600px;
		margin-top: -400px;
	}

</style>







