<!DOCTYPE html>
<html id="flexyderPage">
	<head>
		<title>
			Flexyder
		</title>
		<link rel="stylesheet" href="/Webpage-Lsn/view/cv/css/stuff.css" type="text/css">
	</head>
	<body>
    <div class="about-section">
		<h1 class="header">
			Her er en kort beskrivelse af de to virksomheder jeg har arbejdet for som flexyder.
		</h1>
	</div>
	<div class="container" style="margin-left: 200px; margin-top: 10px;">
		<img src="/Webpage-Lsn/view/cv/img/work.jpg" width="500" height="333">
		<div class="explanation" style="position: absolute; top: 120px; left: 730px; right: 600px;">
			Jeg arbejdede for Piipl fra 2017-2018
			<ul>
				<li> 
					<a href="https://piipl.dk/" target="_blank"> 
						piipl.dk 
					</a> 
				</li>
				<li> Virksomheden arbejder med Hr </li>
				<li> Jeg arbejdede som webudvikler </li>
			</ul>
			Derefter arbejdede jeg for Bizsys fra 2019-2020
			<ul>
				<li> 
					<a href="https://bizsys.dk/" target="_blank"> 
						bizsys.dk 
					</a> 
				</li>
				<li> De laver online kassesystemer </li>
				<li> Jeg arbejdede som webudvikler </li>
			</ul>
			<form action="/Webpage-Lsn/view/cv/controller.php" method="post">
			<button type="submit" name="cvButton" value="otherCv" id="backButton" style="font-size: 20px;"> 
				Tilbage
			</button>
			</form>
		</div>
	</div>
  </body>
</html>

