<!DOCTYPE html>
<html id="certificatePage">
  <head>
    <title>
		Bevis
	</title>
	<link rel="stylesheet" href="/Webpage-Lsn/view/cv/html/css/pdfStyle.css" type="text/css">
  </head>
  <body>
    <h1>
		Gymnasie bevis:
	</h1>
	<iframe id="frame" src="/Webpage-Lsn/view/cv/pdf/gymnasie.pdf"> </iframe>
	<div id="explanation">
		<div id="header">
		
		</div>
		<div id="body">
			Min studieretning p&#229; gymnasiet var: Musik A, matematik A, kemi B
		</div>
		<form action="/../Webpage-Lsn/setup.php" method="post">
			<button type="submit" name="cvButton" value="cvPage" id="button"> 
				Tilbage til CV
			</button>
		</form>
	</div>
  </body>
</html>
