<!DOCTYPE html>
<html id="certificatePage">
  <head>
    <title>
		Bevis
	</title>
	<link rel="stylesheet" href="/Webpage-Lsn/view/cv/html/css/pdfStyle.css" type="text/css">
  </head>
  <body>
    <h1>
		Kandidat bevis:
	</h1>
	<iframe id="frame" src="/Webpage-Lsn/view/cv/pdf/master.pdf"> </iframe>
	<div id="explanation">
		<div id="header">
			Jeg skrev mit speciale i kryptologisk protokolteori. 
			Et fag der ligger i Crypto gruppen p&#229; datalogi ved Aarhus universitet.
		</div>
		<div id="body">
			<div>
				Specialet tog udgangspunkt i en interaktiv sigma-protokol og dens egenskaber. 
				En sigma-protokol, er en protokol mellem en client og en server. Ideen er s&#229;, at clienten skal bevise 
				at han er den han er vha en unik viden. 
				Han skal bevise overfor serveren, at han har den unikke viden, uden at vise den p&#229;g&#230;ldende viden. 
				Ellers vil den ikke v&#230;re unik mere.
			</div>
			<div style="margin-top: 4px;">
				Derefter var der en gennemgang af to forskellige transformationer af den interaktive sigma-protokol til en ikke-interaktiv
				protokol. P&#229; den m&#229;de kan man have protokollen med sig selv, for at aflevere den til en server,
				som kan verificere, at det er g&#229;et korrekt for sig.
			</div>
			<div style="margin-top: 4px">
				Til sidst blev de to transformationer sammenlignet, med henblik p&#229; forskellene og deres
				anvendelser.
			</div>
			<form action="/../Webpage-Lsn/setup.php" method="post">
				<button type="submit" name="cvButton" value="cvPage" id="button"> 
					Tilbage til CV
				</button>
			</form>
		</div>
	</div>
  </body>
</html>
