<!DOCTYPE html>
<html id="certificatePage">
  <head>
    <title>
		Bevis
	</title>
	<link rel="stylesheet" href="/Webpage-Lsn/view/cv/css/pdfStyle.css" type="text/css">
  </head>
  <body>
    <h1>
		Folkeskole bevis:
	</h1>
	<iframe id="frame" src="/Webpage-Lsn/view/cv/pdf/folkeskole.pdf"> </iframe>
	<div id="explanation">
		<div id="header">
		
		</div>
		<div id="body">

		</div>
		<form action="/../Webpage-Lsn/setup.php" method="post">
			<button type="submit" name="cvButton" value="educationCv" id="button"> 
				Tilbage til udannelse
			</button>
		</form>
	</div>
  </body>
</html>
