<table id="bodyTable" cellspacing="30px"> 
	<tr id="bodyTableHeaders">
		<th style="color: #ffff66;">Uddannelse</th>
		<th style="color: #ff00ff;">Fritidsinteresser</th>
		<th style="color: #9999ff;">Kvalifikationer</th>
		<th style="color: #ff9900;">Sprog</th>
		<th style="color: #993399;"><nobr>Gennem tiden</nobr></th>
	</tr>
	
	<tr class="bodyTableInfo colOne" align="middle"> </tr>
	
	<tr class="bodyTableInfo colTwo" align="middle"> </tr>
	
	<tr class="bodyTableInfo colThree" align="middle"> </tr>
	
	<tr class="bodyTableInfo colFour" align="middle"> </tr>

	<tr class="bodyTableInfo colFive" align="middle">	</tr>
	
	<tr class="bodyTableInfo colSix" align="middle">  </tr>
</table>

<script type="text/javascript">
	
	$(function() {
		$(".colOne").load("/Webpage-Lsn/view/cv/html/cvColOne.html");
		$(".colTwo").load("/Webpage-Lsn/view/cv/html/cvColTwo.html");
		$(".colThree").load("/Webpage-Lsn/view/cv/html/cvColThree.html");
		$(".colFour").load("/Webpage-Lsn/view/cv/html/cvColFour.html");
		$(".colFive").load("/Webpage-Lsn/view/cv/html/cvColFive.html");
		$(".colSix").load("/Webpage-Lsn/view/cv/html/cvColSix.html");
	});

</script>



	
	
	