<table id="bodyTable" cellspacing="30px"> 
	<tr id="bodyTableHeaders">
		<th>
			<form action="setup.php" method="post">
				<button type="submit" name="cvButton" value="educationCv" class="educationButton" style="color: #ffff66;">
					Uddannelse
				</button>
			</form>
		</th>
		<th>
			<form action="setup.php" method="post">
				<button type="submit" name="cvButton" value="sparetimeCv" class="cvHeadline" style="color: #ff00ff;">
					Fritidsinteresser
				</button>
			</form>
		</th>
		<th>
			<form action="setup.php" method="post">
				<button type="submit" name="cvButton" value="qualificationCv" class="cvHeadline" style="color: #9999ff;">
					Kvalifikationer
				</button>
			</form>
		</th>
		<th>
			<form action="setup.php" method="post">
				<button type="submit" name="cvButton" value="languageCv" class="cvHeadline" style="color: #ff9900;">
					Sprog
				</button>
			</form>
		</th>
		<th>
			<form action="setup.php" method="post">
				<button type="submit" name="cvButton" value="otherCv" class="cvHeadline" style="color: #993399;">
					<nobr>Gennem tiden</nobr>
				</button>
			</form>
		</th>
	</tr>
	
	<tr class="bodyTableInfo colOne" align="middle"> </tr>
	<tr class="bodyTableInfo colTwo" align="middle"> </tr>
	<tr class="bodyTableInfo colThree" align="middle"> </tr>
	<tr class="bodyTableInfo colFour" align="middle"> </tr>
	<tr class="bodyTableInfo colFive" align="middle">	</tr>
	<tr class="bodyTableInfo colSix" align="middle">  </tr>
</table>

<style>
	.cvHeadline {
		border: none;
		background-color: inherit;
		font-size: 50px;
		cursor: pointer;
		font-weight: bold;
		font-family: "Times New Roman", Times, serif;
	}
</style>

<script type="text/javascript">
	
	$(function() {
		$(".colOne").load("/Webpage-Lsn/view/cv/html/coloums/cvColOne.html");
		$(".colTwo").load("/Webpage-Lsn/view/cv/html/coloums/cvColTwo.html");
		$(".colThree").load("/Webpage-Lsn/view/cv/html/coloums/cvColThree.html");
		$(".colFour").load("/Webpage-Lsn/view/cv/html/coloums/cvColFour.html");
		$(".colFive").load("/Webpage-Lsn/view/cv/html/coloums/cvColFive.html");
		$(".colSix").load("/Webpage-Lsn/view/cv/html/coloums/cvColSix.html");
	});

</script>



	
	
	