<table id="bodyTable" cellspacing="30px"> 
	<tr id="bodyTableHeaders">
		<div class="container">
			<th>
				<div class="infobox educationBox">
					<div class="emptyBox"> </div> 
					Her finder du en bedre beskrivelse af min uddannelse
				</div>
				<form action="setup.php" method="post">
					<button type="submit" name="cvButton" value="educationCv" class="cvHeadline education" style="color: #ffff66;">
						Uddannelse
					</button>
				</form>
			</th>
		</div>
		<div class="container">
			<th>
				<div class="infobox sparetimeBox">
					<div class="emptyBox"> </div> 
					Her finder du en bedre beskrivelse af hvad jeg laver og har lavet i min fritid
				</div>
				<form action="setup.php" method="post">
					<button type="submit" name="cvButton" value="sparetimeCv" class="cvHeadline sparetime" style="color: #ff00ff;">
						Fritidsinteresser
					</button>
				</form>
			</th>
		</div>
		<div class="container">
			<th>
				<div class="infobox qualificationsBox">
					<div class="emptyBox"> </div> 
					Her finder du en bedre beskrivelse af min kvalifikationer
				</div>
				<form action="setup.php" method="post">
					<button type="submit" name="cvButton" value="qualificationCv" class="cvHeadline qualifications" style="color: #9999ff;">
						Kvalifikationer
					</button>
				</form>
			</th>
		</div>
		<div class="container">
			<th>
				<div class="infobox languageBox">
					<div class="emptyBox"> </div> 
					Her er en lille uddybelse
				</div>
				<form action="setup.php" method="post">
					<button type="submit" name="cvButton" value="languageCv" class="cvHeadline language" style="color: #ff9900;">
						Sprog
					</button>
				</form>
			</th>
		</div>
		<div class="container">
			<th>
				<div class="infobox otherBox">
					<div class="emptyBox"> </div> 
					Klik her, for at se en mere detaljeret beskrivelse af hvad jeg har lavet gennem tiden
				</div>
				<form action="setup.php" method="post">
					<button type="submit" name="cvButton" value="otherCv" class="cvHeadline other" style="color: #993399;">
						<nobr>Gennem tiden</nobr>
					</button>
				</form>
			</th>
		</div>
	</tr>
	
	<tr class="bodyTableInfo colOne" align="middle"> </tr>
	<tr class="bodyTableInfo colTwo" align="middle"> </tr>
	<tr class="bodyTableInfo colThree" align="middle"> </tr>
	<tr class="bodyTableInfo colFour" align="middle"> </tr>
	<tr class="bodyTableInfo colFive" align="middle">	</tr>
	<tr class="bodyTableInfo colSix" align="middle">  </tr>
</table>

<style>
	.infobox {
		display: none;
		font-size: 14px;
		position: absolute;
		
		line-height: 18px;
		margin-top: -130px;
		width: 210px;
		height: 80px;
		text-align: center;
		background-color: #fff;
		border: 8px solid #666;
		-webkit-border-radius: 30px;
		-moz-border-radius: 30px;
		border-radius: 30px;
		-webkit-box-shadow: 2px 2px 4px #888;
		-moz-box-shadow: 2px 2px 4px #888;
		box-shadow: 2px 2px 4px #888;

	}
	
	.emptyBox {
		height: 10px;
	}
	
	
	
	
	.cvHeadline {
		border: none;
		background-color: inherit;
		font-size: 50px;
		cursor: pointer;
		font-weight: bold;
		font-family: "Times New Roman", Times, serif;
	}
</style>

<script type="text/javascript">
	
	$('.other').mouseenter(function(e) {
		$('.otherBox').show(200);
	});
	$('.other').mouseleave(function(e){
		$('.otherBox').hide(200);
	});
	
	$('.language').mouseenter(function(e) {
		$('.languageBox').show(200);
	});
	$('.language').mouseleave(function(e){
		$('.languageBox').hide(200);
	});
	
	$('.qualifications').mouseenter(function(e) {
		$('.qualificationsBox').show(200);
	});
	$('.qualifications').mouseleave(function(e){
		$('.qualificationsBox').hide(200);
	});
	
	$('.sparetime').mouseenter(function(e) {
		$('.sparetimeBox').show(200);
	});
	$('.sparetime').mouseleave(function(e){
		$('.sparetimeBox').hide(200);
	});
	
	$('.education').mouseenter(function(e) {
		$('.educationBox').show(200);
	});
	$('.education').mouseleave(function(e){
		$('.educationBox').hide(200);
	});
	
	$(function() {
		$(".colOne").load("/Webpage-Lsn/view/cv/html/coloums/cvColOne.html");
		$(".colTwo").load("/Webpage-Lsn/view/cv/html/coloums/cvColTwo.html");
		$(".colThree").load("/Webpage-Lsn/view/cv/html/coloums/cvColThree.html");
		$(".colFour").load("/Webpage-Lsn/view/cv/html/coloums/cvColFour.html");
		$(".colFive").load("/Webpage-Lsn/view/cv/html/coloums/cvColFive.html");
		$(".colSix").load("/Webpage-Lsn/view/cv/html/coloums/cvColSix.html");
	});

</script>



	
	
	