<center>
	<div class="tableCell language">
		<div class="tableHeader">
			Engelsk
		</div>
		<li class="bulletTxt">Flydende</li>
	</div>
	<div class="tableCell language">	
		<div class="tableHeader">
			Tysk
		</div>
		<li class="bulletTxt">Elementært niveau</li>
	</div>
	<div class="tableCell language">
		<div class="tableHeader">
			Fransk
		</div>
		<li class="bulletTxt">Elementært niveau</li>
	</div>
	<div class="tableCell language">
		<div class="tableHeader">
			Spansk
		</div>
		<li class="bulletTxt">Elementært niveau</li>
	</div>
</center>

<style>
	.language{
		width: 400px;
		margin-bottom: 10px;
	}

</style>

	