 
 

	body {
		background-image: url(/Webpage-Lsn/view/politics/image/slide1.jpg);
		background-repeat: no-repeat;
		background-size:100% 100%;
	}
	
	.linkIncluder {
		margin-top: 100px;
		margin-left: 50;
	}
	
	.firstLink {
		background-color: red;
		box-shadow: 0 5px 0 darkred;
		color: white;
		padding: 1em 1.5em;
		position: relative;
		text-decoration: none;
		text-transform: uppercase;	
	}