<!DOCTYPE html>
<html id="certificatePage">
  <head>
    <title>
		Bevis
	</title>
	<link rel="stylesheet" href="/Webpage-Lsn/view/cv/css/pdfStyle.css" type="text/css">
  </head>
  <body>
    <h1>
		Kursus bevis:
	</h1>
	<iframe id="frame" src="/Webpage-Lsn/view/cv/pdf/argue.pdf"> </iframe>
	<div id="explanation">
		<div id="header">
			Think again: How to reason and argue
		</div>
		<div id="body">
			Dette kurus handler om, at r&#230;sonnere og argumentere.
			
			Man l&#230;rer enkle, men vitale regler, man skal f&#248;lge, n&#229;r man overvejer ethvert emne 
			og kommer omkring almindelige og fristende fejl, som man skal undg&#229;, n&#229;r man vil argumentere sin sag. 
			man l&#230;rer hvordan man identificerer, analyserer og evaluerer argumenter fra andre mennesker
			og hvordan man konstruerer egne argumenter.
		</div>
		<form action="/../Webpage-Lsn/setup.php" method="post">
			<button type="submit" name="cvButton" value="cvPage" id="button"> 
				Tilbage til CV
			</button>
		</form>
	</div>
  </body>
</html>
