<!DOCTYPE html>
<html id="certificatePage">
  <head>
    <title>
		Bevis
	</title>
	<link rel="stylesheet" href="/Webpage-Lsn/view/cv/qualifications/certificate.css" type="text/css">
  </head>
  <body>
    <h1>
		Kursus bevis:
	</h1>
	<iframe id="frame" src="/Webpage-Lsn/pdf/argue.pdf"> </iframe>
	<div id="explanation">
		<div id="header">
			How to reason and argue:
		</div>
		<div id="body">
			Dette kurus handler om, at ræsonnere og argumentation.
			Ræsonnement er vigtigt. 
			Denne serie på fire korte kurser lærer dig, hvordan du gør det godt. 
			Du lærer enkle, men vitale regler, 
			du skal følge, når du overvejer ethvert emne overhovedet og almindelige og fristende fejl at undgå i ræsonnementet. 
			Vi diskuterer, hvordan man identificerer, analyserer og evaluerer argumenter fra andre mennesker (inklusive politikere, brugte bilsælgere og lærere)
			og hvordan man konstruerer egne argumenter for at hjælpe dig med at beslutte, 
			hvad du skal tro eller hvad du skal gøre. Disse færdigheder vil være nyttige til at håndtere det, 
			der betyder mest for dig.
		</div>
		<form action="/../Webpage-Lsn/setup.php" method="post">
			<button type="submit" name="cvButton" value="cvPage" id="button"> 
				Tilbage til CV
			</button>
		</form>
	</div>
  </body>
</html>
