<!DOCTYPE html>
<html id="certificatePage">
  <head>
    <title>
		Bevis
	</title>
	<link rel="stylesheet" href="/Webpage-Lsn/view/cv/qualifications/certificate.css" type="text/css">
  </head>
  <body>
    <h1>
		Kursus bevis:
	</h1>
	<iframe id="frame" src="/Webpage-Lsn/pdf/mathmatical.pdf"> </iframe>
	<div id="explanation">
		<div id="header">
			Introduction to mathematical thinking
		</div>
		<div id="body">		
			Matematisk tænkning er ikke det samme som at lave matematik - i det mindste ikke, 
			da matematik typisk præsenteres i vores skolesystem. 
			Skolematematik fokuserer typisk på indlæringsprocedurer for at løse meget stereotype problemer. 
			Professionelle matematikere tænker på en bestemt måde at løse virkelige problemer, problemer, 
			der kan opstå fra den daglige verden, eller fra videnskab, eller fra selve matematikken. 
			Nøglen til succes i skolematematik er at lære at tænke inden i boksen. 
			I modsætning hertil er et vigtigt træk ved matematisk tænkning udenfor boksen - en værdifuld evne i dagens verden. 
			Dette kursus hjælper med at udvikle den afgørende tankegang.
		</div>
		<form action="/../Webpage-Lsn/setup.php" method="post">
			<button type="submit" name="cvButton" value="cvPage" id="button"> 
				Tilbage til CV
			</button>
		</form>
	</div>
  </body>
</html>
