<!DOCTYPE html>
<html id="certificatePage">
  <head>
    <title>
		Bevis
	</title>
	<link rel="stylesheet" href="/Webpage-Lsn/view/cv/css/pdfStyle.css" type="text/css">
  </head>
  <body>
    <h1>
		Firebrand bevis:
	</h1>
	<iframe id="frame" src="/Webpage-Lsn/view/cv/pdf/firebrand.pdf"> </iframe>
	<div id="explanation">
		<div id="header">
			Navision udvikler
		</div>
		<div id="body">
			Jeg tog dette kursus, da jeg i en meget kort periode var ansat som 
			Navision udvikler
		
		
			<form action="/Webpage-Lsn/view/cv/controller.php" method="post">
				<button type="submit" name="cvButton" value="qualificationCv" id="button" style="font-size: 20px;"> 
					Tilbage
				</button>
			</form>
		</div>
	</div>
  </body>
</html>
