<!DOCTYPE html>
<html id="certificatePage">
  <head>
    <title>
		Bevis
	</title>
	<link rel="stylesheet" href="/Webpage-Lsn/view/cv/css/pdfStyle.css" type="text/css">
  </head>
  <body>
    <h1>
		Milit&#230;r bevis:
	</h1>
	<iframe id="frame" src="/Webpage-Lsn/view/cv/pdf/military.pdf"> </iframe>
	<div id="explanation">
		<div id="header">
			Bem&#230;rkning:
		</div>
		<div id="body">
			Jeg var ikke vagtg&#229;ende, som der st&#229;r p&#229; papiret. Jeg var tambour og spillede march tromme.
		</div>
		<form action="/Webpage-Lsn/view/cv/controller.php" method="post">
			<button type="submit" name="cvButton" value="qualificationCv" id="button"> 
				Tilbage til kvalifikationer
			</button>
		</form>
	</div>
  </body>
</html>
