
<html>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<head>
		<title>
			LSN
		</title>
		<link rel="stylesheet" href="/Webpage-Lsn/lsn/css/frontpage.css" type="text/css">
	</head>
	<body>
		<h1>
			Velkommen til hjemmesiden - Lsn
		</h1>
		
		<form action="frontpage.php" method="post">
			<button id="cvButton" type="submit" name="cvButton" value="cvPage"> Mit CV </button>
		</form>
		<div class="projectTxt">
			Jeg har startet forskellige projekter, som der er link til her: <br>
			<a class="projectLink tv"> TV-oversigt </a> <br>
			<a class="projectLink car"> Bil priser </a> 
		</div>
	</body>
	<div class="tvModal modal">
		<div class="modal-content">
			<span class="closeModal">&times;</span>
			<center>
				<p>Indtast kode for at få adgang til projektet TV-oversigt</p>
				<input class="tvPassword" type="text" placeholder="Adgangskode">
				<form action="frontpage.php" method="post">
					<button id="tvButton" type="submit" name="tvButton" value="tvPage"> Videre </button>
				</form>
			</center>
		</div>
	</div>
	<div class="carModal modal">
		<div class="modal-content">
			<span class="closeModal">&times;</span>
			<center>
				<p>Indtast kode for at få adgang til projektet bil priser</p>
				<input class="carPassword" type="text" placeholder="Adgangskode">	
				<form action="frontpage.php" method="post">
					<button id="carButton" type="submit" name="carButton" value="carPage"> Videre </button>
				</form>
			</center>
		</div>
	</div>
</html>

<script>
	$(".tv").click(function(){
		$('.tvModal').css('display', 'block');
		$("#tvButton").click(function() {
			var password = $('.tvPassword').val();
			if (password != 'fSGVJFTj7szkApBu') {
				alert("Wrong password");
			} 
		})
	});
	$(".car").click(function(){
		$('.carModal').css('display', 'block');
		$("#carButton").click(function() {
			var password = $('.carPassword').val();
			if (password != 'fSGVJFTj7szkApBu') {
				alert("Wrong password");
			} 
		})
	});
	$(".closeModal").click(function() {
		$('.modal').css('display', 'none');
	});
</script>



















