	.cvHeadline {
		border: none;
		background-color: inherit;
		font-size: 50px;
		cursor: pointer;
		font-weight: bold;
		font-family: "Times New Roman", Times, serif;
	}
	.emptyBox {
		height: 10px;
	}
	.infobox {
		display: none;
		font-size: 14px;
		position: absolute;
		line-height: 18px;
		margin-top: -130px;
		width: 250px;
		height: 80px;
		text-align: center;
		background-color: #fff;
		border: 8px solid #666;
		-webkit-border-radius: 30px;
		-moz-border-radius: 30px;
		border-radius: 30px;
		-webkit-box-shadow: 2px 2px 4px #888;
		-moz-box-shadow: 2px 2px 4px #888;
		box-shadow: 2px 2px 4px #888;
	}
	.educationBox {
		width: 220px;
	}
	.qualificationsBox {
		width: 270px;
	}
	
	
	
	