

.headline {
	font-size: 50px;
	font-weight: bold;
	
	
}

.theArtist { 
	margin: 1em; 
	color: red; 
	font-size: 20px; 
	font-weight: bold; 
}

title { 
	text-align: right;
	margin-bottom: 2em;
	font-size: 20px;
	font-weight: bold;
}

price { 
	line-height: 1.5;
	margin-left: 15%;
}

country { 
	color: blue;
}