
<html lang="da">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<head>
		<title>
			Politik
		</title>
	</head>
	<body>
		<h1>
			Kigger her på det politiske landskab i Danmark
		</h1>
		
		<div style="margin-bottom: 20px; position: relative;">
			<a href="../view/politics/collection.xml">
				Cd collection				
			</a>
		</div>
		
		<form action="/Webpage-Lsn/controller/frontpage.php" method="post">
			<button id="backButton" type="submit"> 
				Tilbage
			</button>
		</form>
	</body>

</html>





















