		<td class="tableCell education">
			<div class="tableHeader">
				Lemtorpskolen Lemvig 
			</div>
		</td>
		<td class="tableCell sparetime">
			Computer spil
			<li class="bulletTxt">Blizzard</li>
			<li class="bulletTxt">Overwatch, Heroes of the Storm</li>
		</td>
		<td class="tableCell qualifications">
			<div class="tableHeader">
				Iv&#230;rks&#230;tter kursus
			</div>
			<li class="bulletTxt">2010</li>
			<li class="bulletTxt">Lemvig Gymnasium</li>
		</td>
		<td class="tableCell language">
			Spansk
			<li class="bulletTxt">Element&#230;rt niveau</li>
		</td>
		<td class="tableCell duringTime">
			Lokal fiskefabrik
			<li class="bulletTxt">Jeka Fish</li>
			<li class="bulletTxt">Kontor arbejde og produktion</li>
		</td>