
.dropbtn {
	background-color: #4CAF50;
	color: white;
	padding: 16px;
	font-size: 16px;
	border: none;
}

.dropdown {
	position: relative;
	display: inline-block;
}

.advancedDropdown {
		width: 120px;
}

.dropdown-content {
	display: none;
	position: absolute;
	background-color: #f1f1f1;
	min-width: 120px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
}

.dropdown-content a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #3e8e41;}

.selectedVariables {
	height: 500px;
	width: 90%;
}

.headerLiterPerKronerField {
	font-weight: bold;
	font-size: 20px;
	position: absolute;
	display: none;
}

.stdevLiterPerKronerField {
	position: absolute;
	border: solid;
	border-color: #00804d;
	border-radius: 25px;
	background-color: #66ffc2;
	display: none;
	margin: 30px 0px 0px 10px;
	width: 305px;
	height: 30px;
}

.stdevLiterPerKronerCross {
	position: relative;
	left: 125px;
	bottom: 20px;
	cursor: pointer;
	width: 10px;
}

.stdevLiterPerKronerTxt {
    margin-top: 5px;
    margin-left: -15px;
}

.varLiterPerKronerField {
	position: absolute;
	border: solid;
	border-color: #00804d;
	border-radius: 25px;
	background-color: #66ffc2;
	display: none;
	margin: 30px 0px 0px 10px;
	width: 250px;
	height: 30px;
}

.varLiterPerKronerCross {
	position: relative;
	left: 90px;
	bottom: 20px;
	cursor: pointer;
	width: 10px;
}

.varLiterPerKronerTxt {
    margin-top: 5px;
    margin-left: -15px;
}


.medianLiterPerKronerField {
	position: absolute;
	border: solid;
	border-color: #00804d;
	border-radius: 25px;
	background-color: #66ffc2;
	display: none;
	margin: 30px 0px 0px 10px;
	width: 250px;
	height: 30px;
}

.medianLiterPerKronerCross {
	position: relative;
	left: 90px;
	bottom: 20px;
	cursor: pointer;
	width: 10px;
}

.medianLiterPerKronerTxt {
    margin-top: 5px;
    margin-left: -15px;
}



















