<!DOCTYPE html>
<html>
  <head>
    <title>
		Bevis
	</title>
	<link rel="stylesheet" href="/Webpage-Lsn/view/qualifications/master.css" type="text/css">
  </head>
  <body>
    <h1>
		Mit kandidat bevis:
	</h1>
	<iframe id="frame" src="/Webpage-Lsn/pdf/master.pdf"> </iframe>
	<div id="explanation">
		<div id="header">
			Jeg skrev mit speciale i protokolteori, 
			som er et fag der ligger i Crypto gruppen på datalogi på Aarhus universitet.
		</div>
		Specialet tog udgangspunkt i en interaktiv sigma-protokol og dens egenskaber. Derefter var der en
		gennemgang af to forskellige transformationer af den interaktive sigma-protokol til en ikke-interaktiv
		protokol. Til sidst blev de to transformationer sammenlignet, med henblik på forskellene og deres
		anvendelser.
	</div>
	<div>
	
  </body>
</html>
