<!DOCTYPE html>
<html id="certificatePage">
  <head>
    <title>
		Bevis
	</title>
	<link rel="stylesheet" href="/Webpage-Lsn/view/qualifications/certificate.css" type="text/css">
  </head>
  <body>
    <h1>
		Bachelor bevis:
	</h1>
	<iframe id="frame" src="/Webpage-Lsn/pdf/bachelor.pdf"> </iframe>
	<div id="explanation">
		<div id="header">
			Bachelor p&#229; datalogi
		</div>
		<div id="body">
			Specialet p&#229; bachelor uddannelsen var p&#229; det tidspunkt, at skrive en compiler. 
			Det var s&#229;dan for alle datalogi studerende. <br> <br>
			En compiler er det program, der groft sagt, overs&#339;tter eksempelvis den java eller python kode man har skrevet,
			til maskinkode. Hvis man er interesseret, kan man l&#339;se mere her: 
			<a href="https://en.wikipedia.org/wiki/Compiler"> Compiler </a>
		</div>
		<form action="/../Webpage-Lsn/setup.php" method="post">
			<button type="submit" name="cvButton" value="cvPage" id="button"> 
				Tilbage til CV
			</button>
		</form>
	</div>
  </body>
</html>
