
	body {
		background-image: url(/Webpage-Lsn/projects/frontpage/image/bgI.jpg);
		background-repeat: no-repeat;
		background-size:100% 100%;
	}
	img {
		width: 70px;
		height: 50px;
		margin-left: auto;
		display: block;
		cursor: pointer;
	}
	#english {
		margin-right: 80px;
		margin-top: -50px;
	}
	.projectTxt {
		top: 40%;
		left: 5%;
		font-size: 25px;
		color: #33ccff;
		position: absolute;
	}
	h1 {
		font-size:60px; 
		margin: 0;
		position: absolute;
		top: 20%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
	#my-signin2 {
		margin-left: 20px;
	}
	#cvButton {
		background-color: inherit;
		border: 3px solid #993300;
		color: #1aff1a;
		border-radius: 30px 30px 30px 30px;
		font-size:60px; 
		padding: 20px 32px;
		position: absolute;
		top: 30%;
		left: 10%;
		cursor: pointer;
		transform: translate(-50%, -50%);	
	}
	#cvButton:hover {
		filter: brightness(80%);
	}
		
	#cvButton:active {
		box-shadow: 0 3px 0 #00823F;
	}

	#dieselButton {
		background:linear-gradient(to bottom, #b3c6ff 5%, #cccc00 100%);
	}
	#politicButton {
		background:linear-gradient(to bottom, #b3c6ff 5%, #ccff66 100%);
	}
	#usedCarsButton {
		background:linear-gradient(to bottom, #b3c6ff 5%, #809fff 100%);
	}
	#runButton {
		background:linear-gradient(to bottom, #b3c6ff 5%, #661aff 100%);
	}
	#bikeButton {
		background:linear-gradient(to bottom, #b3c6ff 5%, #145214 100%);
	}
	#stockButton {
		background:linear-gradient(to bottom, #b3c6ff 5%, #d61340 100%);
	}
	#priceButton {
		background:linear-gradient(to bottom, #b3c6ff 5%, #d67813 100%);
	}
	#langButton {
		background:linear-gradient(to bottom, #b3c6ff 5%, #13d644 100%);
	}
	#newFrontpageButton {
		background:linear-gradient(to bottom, #1a3586 5%, #8bd613 100%);
	}
	#investButton {
		background:linear-gradient(to bottom, #b08f73 5%, #811b5b 100%);
	}
	#reactButton {
	    background:linear-gradient(to bottom, #b234 5%, #a329 100%);
	}
	#searchArea {
		margin-top: 20px;
		width: 400px;
		background:linear-gradient(to bottom, #b3c6ff 5%, #000080 100%);
		cursor: context-menu;
	}
	.searchField {
		width: 300px;
		background:linear-gradient(to bottom, #b3c6ff 5%, #e6e6e6 100%);
	}
	
	.frontpageButton {
		cursor:pointer;
		margin-left: 20px;
		box-shadow: 0px 1px 0px 0px #ccd9ff;
		background-color:#b3c6ff;
		border-radius:6px;
		border:1px solid #0039e6;
		display:inline-block;
		color:#000000;
		font-family:Arial;
		font-size:15px;
		font-weight:bold;
		padding:6px 24px;
		text-decoration:none;
		text-shadow:0px 1px 0px #002699;
	}
	.frontpageButton:hover {
		background:linear-gradient(to bottom, #809fff 5%, #b3c6ff 100%);
		background-color:#809fff;
	}
	.frontpageButton:active {
		position:relative;
		top:1px;
	}






	
	
	
	
	
	
