
	body {
		background-image: url(/Webpage-Lsn/projects/frontpage/image/bgI.jpg);
		background-repeat: no-repeat;
		background-size:100% 100%;
	}
	.projectTxt {
		top: 40%;
		left: 5%;
		font-size: 25px;
		color: #33ccff;
		position: absolute;
	}
	h1 {
		font-size:60px; 
		margin: 0;
		position: absolute;
		top: 20%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
	#my-signin2 {
		margin-left: 20px;
	}
	#cvButton {
		background-color: inherit;
		border: 3px solid #993300;
		color: #1aff1a;
		border-radius: 30px 30px 30px 30px;
		font-size:60px; 
		padding: 20px 32px;
		position: absolute;
		top: 30%;
		left: 10%;
		cursor: pointer;
		transform: translate(-50%, -50%);	
	}
	#cvButton:hover {
		filter: brightness(80%);
	}
		
	#cvButton:active {
		box-shadow: 0 3px 0 #00823F;
	}
	
	
	
	#dieselButton {
		margin-left: 20px;
		box-shadow: 0px 1px 0px 0px #fff6af;
		background:linear-gradient(to bottom, #ffec64 5%, #ffab23 100%);
		background-color:#ffec64;
		border-radius:6px;
		border:1px solid #ffaa22;
		display:inline-block;
		cursor:pointer;
		color:#333333;
		font-family:Arial;
		font-size:15px;
		font-weight:bold;
		padding:6px 24px;
		text-decoration:none;
		text-shadow:0px 1px 0px #ffee66;
	}
	#dieselButton:hover {
		background:linear-gradient(to bottom, #ffab23 5%, #ffec64 100%);
		background-color:#ffab23;
	}
	#dieselButton:active {
		position:relative;
		top:1px;
	}	
	
	#politicButton {
		margin-left: 20px;
		box-shadow: 0px 1px 0px 0px #eeffcc;
		background:linear-gradient(to bottom, #ddff99 5%, #ccff66 100%);
		background-color:#bbff33;
		border-radius:6px;
		border:1px solid #aaff00;
		display:inline-block;
		cursor:pointer;
		color:#333333;
		font-family:Arial;
		font-size:15px;
		font-weight:bold;
		padding:6px 24px;
		text-decoration:none;
		text-shadow:0px 1px 0px #77b300;
	}
	#politicButton:hover {
		background:linear-gradient(to bottom, #c4ff4d 5%, #d5ff80 100%);
		background-color:#c4ff4d;
	}
	#politicButton:active {
		position:relative;
		top:1px;
	}	
	
	#usedCarsButton {
		margin-left: 20px;
		box-shadow: 0px 1px 0px 0px #ccd9ff;
		background:linear-gradient(to bottom, #b3c6ff 5%, #809fff 100%);
		background-color:#b3c6ff;
		border-radius:6px;
		border:1px solid #0039e6;
		display:inline-block;
		cursor:pointer;
		color:#333333;
		font-family:Arial;
		font-size:15px;
		font-weight:bold;
		padding:6px 24px;
		text-decoration:none;
		text-shadow:0px 1px 0px #002699;
	}
	#usedCarsButton:hover {
		background:linear-gradient(to bottom, #809fff 5%, #b3c6ff 100%);
		background-color:#809fff;
	}
	#usedCarsButton:active {
		position:relative;
		top:1px;
	}
	
	
	#runButton {
		margin-left: 20px;
		box-shadow: 0px 1px 0px 0px #ccd9ff;
		background:linear-gradient(to bottom, #b3c6ff 5%, #661aff 100%);
		background-color:#b3c6ff;
		border-radius:6px;
		border:1px solid #0039e6;
		display:inline-block;
		cursor:pointer;
		color:#333333;
		font-family:Arial;
		font-size:15px;
		font-weight:bold;
		padding:6px 24px;
		text-decoration:none;
		text-shadow:0px 1px 0px #002699;
	}
	#runButton:hover {
		background:linear-gradient(to bottom, #809fff 5%, #b3c6ff 100%);
		background-color:#809fff;
	}
	#runButton:active {
		position:relative;
		top:1px;
	}
	
	#bikeButton {
		margin-left: 20px;
		box-shadow: 0px 1px 0px 0px #ccd9ff;
		background:linear-gradient(to bottom, #b3c6ff 5%, #009900 100%);
		background-color:#b3c6ff;
		border-radius:6px;
		border:1px solid #0039e6;
		display:inline-block;
		cursor:pointer;
		color:#333333;
		font-family:Arial;
		font-size:15px;
		font-weight:bold;
		padding:6px 24px;
		text-decoration:none;
		text-shadow:0px 1px 0px #002699;
	}
	#bikeButton:hover {
		background:linear-gradient(to bottom, #809fff 5%, #b3c6ff 100%);
		background-color:#809fff;
	}
	#bikeButton:active {
		position:relative;
		top:1px;
	}
	


















	
	#searchButton {
		width: 400px;
		margin-top: 20px;
		margin-left: 20px;
		box-shadow: 0px 1px 0px 0px #ccd9ff;
		background:linear-gradient(to bottom, #b3c6ff 5%, #000080 100%);
		background-color:#b3c6ff;
		border-radius:6px;
		border:1px solid #0039e6;
		display:inline-block;
		cursor:pointer;
		color:#333333;
		font-family:Arial;
		font-size:15px;
		font-weight:bold;
		padding:8px 24px;
		text-decoration:none;
		text-shadow:0px 1px 0px #002699;
	}
	#searchButton:hover {
		background:linear-gradient(to bottom, #809fff 5%, #b3c6ff 100%);
		background-color:#809fff;
	}
	#searchButton:active {
		position:relative;
		top:1px;
	}
	
	#theSearch {
		width: 300px;
		margin-top: 5px;
		box-shadow: 0px 1px 0px 0px #ccd9ff;
		background:linear-gradient(to bottom, #b3c6ff 5%, #ff4dd2 100%);
		background-color:#b3c6ff;
		border-radius:6px;
		border:1px solid #0039e6;
		display:inline-block;
		cursor:pointer;
		color:#333333;
		font-family:Arial;
		font-size:15px;
		font-weight:bold;
		padding:6px 24px;
		text-decoration:none;
		text-shadow:0px 1px 0px #002699;
	}
	#theSearch:hover {
		background:linear-gradient(to bottom, #809fff 5%, #b3c6ff 100%);
		background-color:#809fff;
	}
	#theSearch:active {
		position:relative;
		top:1px;
	}





	
	
	
	
	
	