<html>  
	<?php $txtFile = include("../txt/diesel/txt.php"); ?>
    <head>  
        <title>  		
			<?php echo $txtFile['general']['tabHeader']; ?>
        </title>  
	</head>  
	<link rel="stylesheet" href="/Webpage-Lsn/projects/diesel/css/advanced.css" type="text/css">
	<body style="background-color: #ff99ff">  
		<h1>
			<center>
				<?php echo $txtFile['carPage']['header']; ?>
			</center>
		</h1>   
		<div style="margin-left: 100px; margin-top: 100px;">
			<div style="font-size: 25px; font-weight: bold;">
				<?php echo $txtFile['carPage']['carAttributes']; ?>
			</div>
			<ul style="font-size: 20px;">
				<li> 
					<div style="font-weight: bold; display: inline-block;"> 
						<?php echo $txtFile['carPage']['type']; ?>
					</div>
					<?php echo $txtFile['carPage']['carType']; ?>
				</li>
				<li>
					<div style="font-weight: bold; display: inline-block;"> 
						<?php echo $txtFile['carPage']['seatNumber']; ?>
					</div>
					<?php echo $txtFile['carPage']['seatValue']; ?>
				</li>
				<li> 
					<div style="font-weight: bold; display: inline-block;"> 
						<?php echo $txtFile['carPage']['standNumber']; ?>
					</div>
					<?php echo $txtFile['carPage']['standValue']; ?>
				</li>
				<li>
					<div style="font-weight: bold; display: inline-block;"> 
						<?php echo $txtFile['carPage']['useIndex']; ?>
					</div>
					<?php echo $txtFile['carPage']['useValue']; ?>
				</li>
				<li>
					<div style="font-weight: bold; display: inline-block;"> 
						<?php echo $txtFile['carPage']['driveForce']; ?>
					</div>
					<?php echo $txtFile['carPage']['diesel']; ?>
				</li>
				<li>
					<div style="font-weight: bold; display: inline-block;"> 
						<?php echo $txtFile['carPage']['weightTxt']; ?>
					</div>
					<?php echo $txtFile['carPage']['weightValue']; ?>
				</li>
				<li> 
					<div style="font-weight: bold; display: inline-block;"> 
						<?php echo $txtFile['carPage']['gasTxt']; ?>
					</div>
					<?php echo $txtFile['carPage']['gasValue']; ?>
				 </li>
				<li> 
					<div style="font-weight: bold; display: inline-block;"> 
						<?php echo $txtFile['carPage']['axesNumber']; ?>
					</div>
					<?php echo $txtFile['carPage']['axesValue']; ?>
				 </li>
				<li>
					<div style="font-weight: bold; display: inline-block;"> 
						<?php echo $txtFile['carPage']['kwTxt']; ?>
					</div>
					<?php echo $txtFile['carPage']['kwValue']; ?>
				 </li>
			</ul>
		</div>
		<center style="margin-top: -370px">
			<img src="../projects/diesel/images/car.jpg" alt="Peugeot 206+" style="width:700px;height:600px;">
				<div style="margin-top: 10px; font-size: 25px;">
					<?php echo $txtFile['carPage']['carModel']; ?>
				</div>
			</img>
			<form>
				<button class="dieselButton" 
						action="/../Webpage-Lsn/projects/diesel/controller.php" 
						value="dieselPage"
						name="dieselButton"						
						style="margin-left: auto; width: 50%; margin-top: 50px; border-radius: 20px">
					<?php echo $txtFile['carPage']['backButton']; ?>
				</button>
			</form>
		</center>
	</body>
</html>