<html>  
    <head>  
        <title>  
			Diesel
        </title>  
	</head>  
	<link rel="stylesheet" href="/Webpage-Lsn/projects/diesel/css/advanced.css" type="text/css">
	<body style="background-color: #ff99ff">  
		<h1>
			<center>
				Min bil
			</center>
		</h1>   
		<div style="margin-left: 100px; margin-top: 100px;">
			<div style="font-size: 25px; font-weight: bold;">
				Attributer for bilen:
			</div>
			<ul style="font-size: 20px;">
				<li> 
					<div style="font-weight: bold; display: inline-block;"> 
						Art: 
					</div>
					Personbil 
				</li>
				<li>
					<div style="font-weight: bold; display: inline-block;"> 
						Antal siddepladser inkl. fører: 
					</div>
					1/5 
				</li>
				<li> 
					<div style="font-weight: bold; display: inline-block;"> 
						Antal ståpladser: 
					</div>
					0 
				</li>
				<li>
					<div style="font-weight: bold; display: inline-block;"> 
						Anvendelse: 
					</div>
					Privat personkørsel 
				</li>
				<li>
					<div style="font-weight: bold; display: inline-block;"> 
						Drivkraft: 
					</div>
					Diesel 
				</li>
				<li>
					<div style="font-weight: bold; display: inline-block;"> 
						Køreklar vægt:  
					</div>
					1102kg 
				</li>
				<li> 
					<div style="font-weight: bold; display: inline-block;"> 
						Brændstofforbrug: 
					</div>
					 25 km/l 
				 </li>
				<li> 
					<div style="font-weight: bold; display: inline-block;"> 
						Antal akser: 
					</div>
					 2 
				 </li>
				<li>
					<div style="font-weight: bold; display: inline-block;"> 
						Største effekt (kW) :
					</div>
					 50,0
				 </li>
			</ul>
		</div>
		<center style="margin-top: -370px">
			<img src="../projects/diesel/images/car.jpg" alt="Peugeot 206+" style="width:700px;height:600px;">
				<div style="margin-top: 10px; font-size: 25px;">
					Peugeot 206+
				</div>
			</img>
			<form>
				<button class="dieselButton" 
						action="/../Webpage-Lsn/projects/diesel/controller.php" 
						value="dieselPage"
						name="dieselButton"						
						style="margin-left: auto; width: 50%; margin-top: 50px; border-radius: 20px">
					Tilbage
				</button>
			</form>
		</center>
	</body>
</html>