<!DOCTYPE html>
<html id="flexyderPage">
  <head>
    <title>
		Flexyder
	</title>
	<link rel="stylesheet" href="/Webpage-Lsn/view/qualifications/certificate.css" type="text/css">
  </head>
  <body>
    
	<div class="about-section">
	  <h1>Jeg er blevet flexyder, fordi jeg slog hovedet som otte-&#229;rig i en trafik ulykke</h1>
	  <p>Some text about who we are and what we do.</p>
	  <p>Resize the browser window to see that this page is responsive by the way.</p>
	</div>
	<img src="/Webpage-Lsn/view/cv/flexyder/ar.jpg" alt="Italian Trulli" width="500" height="333">
  </body>
</html>

<style>

	.about-section {
		background-color: #8cff66;
	}

</style>
