<table id="bodyTable" cellspacing="30px"> 
	<tr id="bodyTableHeaders">
		<th style="color: #ffff66;">Uddannelse</th>
		<th style="color: #ff00ff;">Fritidsinteresser</th>
		<th style="color: #9999ff;">Kvalifikationer</th>
		<th style="color: #ff9900;">Sprog</th>
		<th style="color: #993399;"><nobr>Gennem tiden</nobr></th>
	</tr>
	<tr class="bodyTableInfo" align="middle" id="firstBodyTableInfoRowId">
		<td class="tableCell">
			<a href="/Webpage-Lsn/view/cv/educations/master.html">
				<div class="tableHeader">
					Kandidat datalogi
				</div>
				<li class="bulletTxt">Aarhus Universitet</li>
				<li class="bulletTxt">2014-2016</li>
				<li class="bulletTxt">Kryptologisk protokolteori</li>
			</a>
		</td>
		<td class="tableCell" style="padding-bottom: 20px">	
			<a href="/Webpage-Lsn/view/cv/other/weightlifting.html">
				<div class="tableHeader">
					V&#230;gtl&#248;ftning
				</div>
				<li class="bulletTxt">BDM 2.februar 2019</li>
				<li class="bulletTxt">BDM-Vest 19.august 2019, bronzemedalje</li>
			</a>
		</td>
		<td class="tableCell">
			<a href="/Webpage-Lsn/view/cv/qualifications/highSchool.html">
				<div class="tableHeader">
					Aalborg Sportsh&#248;jskole
				</div>
				<li class="bulletTxt">2011</li>
				<li class="bulletTxt">Crossfit</li>
			</a>
		</td>
		<td class="tableCell">
			Engelsk
				<li class="bulletTxt">Flydende</li>
			</td>
			<td class="tableCell">
			<a href="/Webpage-Lsn/view/cv/other/work.html">
				<div class="tableHeader">
					Arbejde
				</div>
				<li class="bulletTxt">Piipl, 2017-2018</li>
				<li class="bulletTxt">Bizsys, 2019-2020</li>
			</a>
		</td>
	</tr>
	<tr class="bodyTableInfo" align="middle" id="secondBodyTableInfoRowId">
		<td class="tableCell">
			<a href="/Webpage-Lsn/view/cv/educations/bachelor.html">
				<div class="tableHeader">
					Bachelor datalogi
				</div>
				<li class="bulletTxt">Aarhus Universitet</li>
				<li class="bulletTxt">2011-2014</li>
			</a>
		</td>
		<td class="tableCell">
			<a href="/Webpage-Lsn/view/cv/other/music.html">
				<div class="tableHeader">
					Saxofon
				</div>
				<li class="bulletTxt">Baryton saxofon</li>
				<li class="bulletTxt">Saxofonkvartet, orkester</li>
			</a>
		</td>
		<td class="tableCell">
			<a href="/Webpage-Lsn/view/cv/qualifications/climbing.html">
				<div class="tableHeader">
					Klatrebevis
				</div>
				<li class="bulletTxt">2011</li>
				<li class="bulletTxt">Aalborg Sportsh&#248;jskole</li>
			</a>
		</td>
		<td class="tableCell">
			Tysk
			<li class="bulletTxt">Element&#230;rt niveau</li>
		</td>
		<td class="tableCell">
			Coursera.org
			<li class="bulletTxt">
				<a href="/Webpage-Lsn/view/cv/coursera/math.html" style="color: black;">
					Introduction to Mathematical thinking
				</a>
			</li>
			<li class="bulletTxt">
				<a href="/Webpage-Lsn/view/cv/coursera/argue.html" style="color: black;">
					How to reason and argue
				</a>
			</li>
		</td>
		</tr>
		<tr class="bodyTableInfo" align="middle" id="thirdBodyTableInfoRowId">
		<td class="tableCell">
			<a href="/Webpage-Lsn/view/cv/educations/highSchool.html">
				<div class="tableHeader">
					Lemvig Gymnasium 
				</div>
				<li class="bulletTxt">2007-2010</li>
				<li class="bulletTxt">Musisk student</li>
			</a>
		</td>
		<td class="tableCell">
			<a href="/Webpage-Lsn/view/cv/other/itDeveloper.html">
				<div class="tableHeader">
					Programmering
				</div>
				<li class="bulletTxt">Web programmering</li>
				<li class="bulletTxt">PHP, jquery, javascript, css</li>
				<li class="bulletTxt">Github, Git Desktop</li>
			</a>
		</td>
		<td class="tableCell">
			<a href="/Webpage-Lsn/view/cv/qualifications/military.html">
				<div class="tableHeader">
					Den Kongelige Livgarde
				</div>
				<li class="bulletTxt">2010-2011</li>
				<li class="bulletTxt">Tambour - marchtromme</li>
			</a>
		</td>
		<td class="tableCell">
			Fransk
			<li class="bulletTxt">Element&#230;rt niveau</li>
		</td>
		<td class="tableCell">
			Crossfit
			<li class="bulletTxt">Aarhus crossfit, Copenhagen crossfit</li>
			<li class="bulletTxt">Gennem min studietid p&#229; universitetet</li>
		</td>
	</tr>
	<tr class="bodyTableInfo" align="middle" id="fourthBodyTableInfoRowId">
		<td class="tableCell">
			<a href="/Webpage-Lsn/view/cv/educations/groundSchool.html">
				<div class="tableHeader">
					Lemtorpskolen Lemvig 
				</div>
			</a>
		</td>
		<td class="tableCell">
			Computer spil
			<li class="bulletTxt">Blizzard</li>
			<li class="bulletTxt">Overwatch, WOW, League of Legends</li>
		</td>
		<td class="tableCell">
			<a href="/Webpage-Lsn/view/cv/qualifications/entrepreneur.html">
				<div class="tableHeader">
					Iv&#230;rks&#230;tter kursus
				</div>
				<li class="bulletTxt">2010</li>
				<li class="bulletTxt">Lemvig Gymnasium</li>
			</a>
		</td>
		<td class="tableCell">
			Spansk
			<li class="bulletTxt">Element&#230;rt niveau</li>
		</td>
		<td class="tableCell">
			Lokal fiskefabrik
			<li class="bulletTxt">Jeka Fish</li>
			<li class="bulletTxt">Kontor arbejde og produktion</li>
		</td>
	</tr>
	<tr class="bodyTableInfo" align="middle" id="fithBodyTableInfoRowId">
		<td class="emptyTableCell"></td>
		<td  class="tableCell">
			Politik
			<li class="bulletTxt">F&#248;lger den politiske situation</li>
			<li class="bulletTxt">Diskuterer det gerne</li>
		</td>
		<td class="tableCell">
			<a href="/Webpage-Lsn/view/cv/qualifications/veno.html">
				<div class="tableHeader">
					Ven&#248; efterskole
				</div>
				<li class="bulletTxt">2006-2007</li>
				<li class="bulletTxt">Natur og friluftsliv</li>
			</a>
		</td>
		<td class="emptyTableCell"></td>
		<td class="tableCell">
			Spejder, basketball
			<li class="bulletTxt">Gennem folkeskolen og gymnasiet</li>
		</td>
	</tr>
	<tr class="bodyTableInfo" align="middle" id="sixthBodyTableInfoRowId">
		<td class="emptyTableCell"></td>
		<td class="tableCell">
			Historie
			<li class="bulletTxt">&#229;rstal</li>
			<li class="bulletTxt">Begivenheder gennem tiden</li>
		</td>
		<td class="emptyTableCell"></td>
		<td class="emptyTableCell"></td>
		<td class="tableCell">
			Avisbud
			<li class="bulletTxt">Lokale avis</li>
			<li class="bulletTxt">Jyllandsposten</li>
		</td>
	</tr>
		</table>


	
	
	