
		<td class="tableCell">
			<a href="/Webpage-Lsn/view/cv/educations/bachelor.html">
				<div class="tableHeader">
					Bachelor datalogi
				</div>
				<li class="bulletTxt">Aarhus Universitet</li>
				<li class="bulletTxt">2011-2014</li>
			</a>
		</td>
		<td class="tableCell">
			<a href="/Webpage-Lsn/view/cv/other/music.html">
				<div class="tableHeader">
					Saxofon
				</div>
				<li class="bulletTxt">Baryton saxofon</li>
				<li class="bulletTxt">Saxofonkvartet, orkester</li>
			</a>
		</td>
		<td class="tableCell">
			<a href="/Webpage-Lsn/view/cv/qualifications/climbing.html">
				<div class="tableHeader">
					Klatrebevis
				</div>
				<li class="bulletTxt">2011</li>
				<li class="bulletTxt">Aalborg Sportsh&#248;jskole</li>
			</a>
		</td>
		<td class="tableCell">
			Tysk
			<li class="bulletTxt">Element&#230;rt niveau</li>
		</td>
		<td class="tableCell">
			Coursera.org
			<li class="bulletTxt">
				<a href="/Webpage-Lsn/view/cv/coursera/math.html" style="color: black;">
					Introduction to Mathematical thinking
				</a>
			</li>
			<li class="bulletTxt">
				<a href="/Webpage-Lsn/view/cv/coursera/argue.html" style="color: black;">
					How to reason and argue
				</a>
			</li>
		</td>
		