	<td class="tableCell">
			<a href="/Webpage-Lsn/view/cv/educations/groundSchool.html">
				<div class="tableHeader">
					Lemtorpskolen Lemvig 
				</div>
			</a>
		</td>
		<td class="tableCell">
			Computer spil
			<li class="bulletTxt">Blizzard</li>
			<li class="bulletTxt">Overwatch, WOW, League of Legends</li>
		</td>
		<td class="tableCell">
			<a href="/Webpage-Lsn/view/cv/qualifications/entrepreneur.html">
				<div class="tableHeader">
					Iv&#230;rks&#230;tter kursus
				</div>
				<li class="bulletTxt">2010</li>
				<li class="bulletTxt">Lemvig Gymnasium</li>
			</a>
		</td>
		<td class="tableCell">
			Spansk
			<li class="bulletTxt">Element&#230;rt niveau</li>
		</td>
		<td class="tableCell">
			Lokal fiskefabrik
			<li class="bulletTxt">Jeka Fish</li>
			<li class="bulletTxt">Kontor arbejde og produktion</li>
		</td>