
		<td class="tableCell">
			<a href="/Webpage-Lsn/view/cv/educations/highSchool.html">
				<div class="tableHeader">
					Lemvig Gymnasium 
				</div>
				<li class="bulletTxt">2007-2010</li>
				<li class="bulletTxt">Musisk student</li>
			</a>
		</td>
		<td class="tableCell">
			<a href="/Webpage-Lsn/view/cv/other/itDeveloper.html">
				<div class="tableHeader">
					Programmering
				</div>
				<li class="bulletTxt">Web programmering</li>
				<li class="bulletTxt">PHP, jquery, javascript, css</li>
				<li class="bulletTxt">Github, Git Desktop</li>
			</a>
		</td>
		<td class="tableCell">
			<a href="/Webpage-Lsn/view/cv/qualifications/military.html">
				<div class="tableHeader">
					Den Kongelige Livgarde
				</div>
				<li class="bulletTxt">2010-2011</li>
				<li class="bulletTxt">Tambour - marchtromme</li>
			</a>
		</td>
		<td class="tableCell">
			Fransk
			<li class="bulletTxt">Element&#230;rt niveau</li>
		</td>
		<td class="tableCell">
			Crossfit
			<li class="bulletTxt">Aarhus crossfit, Copenhagen crossfit</li>
			<li class="bulletTxt">Gennem min studietid p&#229; universitetet</li>
		</td>