
		<td class="tableCell">
			<a href="/Webpage-Lsn/view/cv/educations/master.html">
				<div class="tableHeader">
					Kandidat datalogi
				</div>
				<li class="bulletTxt">Aarhus Universitet</li>
				<li class="bulletTxt">2014-2016</li>
				<li class="bulletTxt">Kryptologisk protokolteori</li>
			</a>
		</td>
		<td class="tableCell" style="padding-bottom: 20px">	
			<a href="/Webpage-Lsn/view/cv/other/weightlifting.html">
				<div class="tableHeader">
					V&#230;gtl&#248;ftning
				</div>
				<li class="bulletTxt">BDM 2.februar 2019</li>
				<li class="bulletTxt">BDM-Vest 19.august 2019, bronzemedalje</li>
			</a>
		</td>
		<td class="tableCell">
			<a href="/Webpage-Lsn/view/cv/qualifications/highSchool.html">
				<div class="tableHeader">
					Aalborg Sportsh&#248;jskole
				</div>
				<li class="bulletTxt">2011</li>
				<li class="bulletTxt">Crossfit</li>
			</a>
		</td>
		<td class="tableCell">
			Engelsk
				<li class="bulletTxt">Flydende</li>
			</td>
			<td class="tableCell">
			<a href="/Webpage-Lsn/view/cv/other/work.html">
				<div class="tableHeader">
					Arbejde
				</div>
				<li class="bulletTxt">Piipl, 2017-2018</li>
				<li class="bulletTxt">Bizsys, 2019-2020</li>
			</a>
		</td>
	