
		<td class="emptyTableCell"></td>
		<td  class="tableCell">
			Politik
			<li class="bulletTxt">F&#248;lger den politiske situation</li>
			<li class="bulletTxt">Diskuterer det gerne</li>
		</td>
		<td class="tableCell">
			<a href="/Webpage-Lsn/view/cv/qualifications/veno.html">
				<div class="tableHeader">
					Ven&#248; efterskole
				</div>
				<li class="bulletTxt">2006-2007</li>
				<li class="bulletTxt">Natur og friluftsliv</li>
			</a>
		</td>
		<td class="emptyTableCell"></td>
		<td class="tableCell">
			Spejder, basketball
			<li class="bulletTxt">Gennem folkeskolen og gymnasiet</li>
		</td>