
<html style="background-color:grey;">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<head>
		<title>
			CV
		</title>
		<link rel="stylesheet" href="/Webpage-Lsn/css/cv.css" type="text/css">
	</head>
		<center>
			<h1 style="font-size:40px; margin-top:15px;">
				Curriculum Vitae
			</h1>
			<div style="margin-top: -25px; font-style:italic;">
				Af Lars Søndertoft Nielsen
			</div>	
		</center>

	<body>
		<div id="basicHeaderInfo">
			<div style="margin-left:35px"> <br>
				<div class="attribute">
					<img src="/Webpage-Lsn/image/portrait.jpg" id="profilePic">
					<div class="firstColumn columnTxt">
						<div style="margin-left:20px; display:inline-block;">
							Navn: 
						</div>
						<span class="attributeText" style="margin-left:50px;">
							Lars Søndertoft Nielsen 
						</span>		
						<div style="margin-left:10px; display:inline-block;">
						Adresse: 
						</div>
						<span class="attributeText" style="margin-left:15px;">
							Bronzealdervej 64A, 8210 Aarhus V
						</span>
						<div style="margin-left:10px; display:inline-block;">
							Kontakt: 
						</div>
						<span class="attributeText" style="margin-left:10px;">
							23309696 
							<a href="mailto:lars.sondertoft@gmail.com" style="margin-left: 15px; font-size: 26px;">
								lars.sondertoft@gmail.com 
							</a>
						</span>	

					</div>
					<div class="secondColumn columnTxt">
						Uddannelse: 
						<span class="attributeText" style="margin-left:45px;">
							Kandidat i datalogi 
						</span>		
						Arbejdsrelation: 
						<span class="attributeText" style="margin-left:10px;">
							Flexyder <br>
						</span>	
						<div style="margin-left:50px; display:inline-block;">
							Job: 
						</div>
						<span class="attributeText" style="margin-left:140px;">
							It-udvikler
						</span>
					</div>
					<div class="thirdColumn columnTxt">
						<center>
						<a href="https://dk.linkedin.com/in/lars-sondertoft" target="_blank"> LinkedIn </a> <br>
						<a href="mailto:lars.sondertoft@gmail.com"> E-mail </a> <br>
						<a href="/Webpage-Lsn/pdf/cv.pdf"> CV-pdf </a>
						</center>
					</div>
				</div><br>
			</div>
		</div>
		
		<table id="bodyTable" cellspacing="30px"> 
		  <tr id="bodyTableHeaders">
			<th style="color: #ffff66;">Uddannelse</th>
			<th style="color: #ff00ff;">Fritidsinteresser</th>
			<th style="color: #9999ff;">Kvalifikationer</th>
			<th style="color: #ff9900;">Sprog</th>
			<th style="color: #993399;"><nobr>Gennem tiden</nobr></th>
		  </tr>
		  <tr class="bodyTableInfo" align="middle" id="firstBodyTableInfoRowId">
			<td class="tableCell">
				<a href="/Webpage-Lsn/pdf/master.pdf">
					<div class="tableHeader">
						Kandidat datalogi
					</div>
					<li class="bulletTxt">Aarhus Universitet</li>
					<li class="bulletTxt">2014-2016</li>
					<li class="bulletTxt">Kryptologisk protokolteori</li>
				</a>
			</td>
			<td class="tableCell" style="padding-bottom: 20px">	
				Vægtløftning
				<li class="bulletTxt">BDM 2.februar 2019</li>
				<li class="bulletTxt">BDM-Vest 19.august 2019, bronzemedalje</li>
			</td>
			<td class="tableCell">
				<a href="/Webpage-Lsn/pdf/hojskole.pdf">
					<div class="tableHeader">
						Aalborg Sportshøjskole
					</div>
					<li class="bulletTxt">2011</li>
					<li class="bulletTxt">Crossfit</li>
				</a>
			</td>
			<td class="tableCell">
				Engelsk
				<li class="bulletTxt">Flydende</li>
			</td>
			<td class="tableCell">
				PiiPL
				<li class="bulletTxt">
					<a class="projectLink car" href="www.piipl.dk"> www.piipl.dk </a> 
				</li>
				<li class="bulletTxt">It-udvikler, 2017-2018</li>
			</td>
		  </tr>
		  <tr class="bodyTableInfo" align="middle" id="secondBodyTableInfoRowId">
			<td class="tableCell">
				<a href="/Webpage-Lsn/pdf/bachelor.pdf">
					<div class="tableHeader">
						Bachelor datalogi
					</div>
					<li class="bulletTxt">Aarhus Universitet</li>
					<li class="bulletTxt">2011-2014</li>
				</a>
			</td>
			<td class="tableCell">
				Saxofon
				<li class="bulletTxt">Baryton saxofon</li>
				<li class="bulletTxt">Saxofonkvartet, orkester</li>
			</td>
			<td class="tableCell">
				<a href="/Webpage-Lsn/pdf/klatring.pdf">
					<div class="tableHeader">
						Klatrebevis
					</div>
					<li class="bulletTxt">2011</li>
					<li class="bulletTxt">Aalborg Sportshøjskole</li>
				</a>
			</td>
			<td class="tableCell">
				Tysk
				<li class="bulletTxt">Elementært niveau</li>
			</td>
			<td class="tableCell">
				Coursera.org
				<li class="bulletTxt">
					<a href="/Webpage-Lsn/pdf/mathmatical.pdf">
						Introduction to Mathematical thinking
					</a>
				</li>
				<li class="bulletTxt">
					<a href="/Webpage-Lsn/pdf/reason.pdf">
						How to reason and argue
					</a>
				</li>
			</td>
		  </tr>
		  <tr class="bodyTableInfo" align="middle" id="thirdBodyTableInfoRowId">
			<td class="tableCell">
				<a href="/Webpage-Lsn/pdf/gymnasie.pdf">
					<div class="tableHeader">
						Lemvig Gymnasium 
					</div>
					<li class="bulletTxt">2007-2010</li>
					<li class="bulletTxt">Musisk student</li>
				</a>
			</td>
			<td class="tableCell">
				Programmering
				<li class="bulletTxt">Web programmering</li>
				<li class="bulletTxt">PHP, jquery, javascript, css</li>
				<li class="bulletTxt">Github, Git Desktop</li>
			</td>
			<td class="tableCell">
				<a href="/Webpage-Lsn/pdf/military.pdf">
					<div class="tableHeader">
						Den Kongelige Livgarde
					</div>
					<li class="bulletTxt">2010-2011</li>
					<li class="bulletTxt">Tambour - marchtromme</li>
				</a>
			</td>
			<td class="tableCell">
				Fransk
				<li class="bulletTxt">Elementært niveau</li>
			</td>
			<td class="tableCell">
				Crossfit
				<li class="bulletTxt">Aarhus crossfit, Copenhagen crossfit</li>
				<li class="bulletTxt">Gennem min studietid på universitetet</li>
			</td>
		  </tr>
		  <tr class="bodyTableInfo" align="middle" id="fourthBodyTableInfoRowId">
			<td class="tableCell">
				<a href="/Webpage-Lsn/pdf/folkeskole.pdf">
					<div class="tableHeader">
						Lemtorpskolen Lemvig 
					</div>
				</a>
			</td>
			<td class="tableCell">
				Computer spil
				<li class="bulletTxt">Blizzard</li>
				<li class="bulletTxt">Overwatch, WOW, League of Legends</li>
			</td>
			<td class="tableCell">
				<a href="/Webpage-Lsn/pdf/initiativ.pdf">
					<div class="tableHeader">
						Iværksætter kursurs
					</div>
					<li class="bulletTxt">2010</li>
					<li class="bulletTxt">Lemvig Gymnasium</li>
				</a>
			</td>
			<td class="tableCell">
				Spansk
				<li class="bulletTxt">Elementært niveau</li>
			</td>
			<td class="tableCell">
				Lokal fiskefabrik
				<li class="bulletTxt">Jeka Fish</li>
				<li class="bulletTxt">Kontor arbejde og produktion</li>
			</td>
		  </tr>
		  <tr class="bodyTableInfo" align="middle" id="fithBodyTableInfoRowId">
			<td class="emptyTableCell"></td>
			<td  class="tableCell">
				Politik
				<li class="bulletTxt">Følger den politiske situation</li>
				<li class="bulletTxt">Diskuterer det gerne</li>
			</td>
			<td class="tableCell">
				<a href="/Webpage-Lsn/pdf/veno.pdf">
					<div class="tableHeader">
						Venø efterskole
					</div>
					<li class="bulletTxt">2006-2007</li>
					<li class="bulletTxt">Natur og friluftsliv</li>
				</a>
			</td>
			<td class="emptyTableCell"></td>
			<td class="tableCell">
				Spejder, basketball
				<li class="bulletTxt">Gennem folkeskolen og gymnasiet</li>
			</td>
		  </tr>
		  <tr class="bodyTableInfo" align="middle" id="sixthBodyTableInfoRowId">
			<td class="emptyTableCell"></td>
			<td class="tableCell">
				Historie
				<li class="bulletTxt">Årstal</li>
				<li class="bulletTxt">Begivenheder gennem tiden</li>
			</td>
			<td class="emptyTableCell"></td>
			<td class="emptyTableCell"></td>
			<td class="tableCell">
				Avisbud
				<li class="bulletTxt">Lokale avis</li>
				<li class="bulletTxt">Jyllandsposten</li>
			</td>
		  </tr>
		</table>
	</body>
	
	<form action="frontpage.php" method="post">
		<button type="submit" name="cvButton" id="backToStartButton" value="frontpage"> Tilbage til startside </button>
	</form>
</html>











